[2018-07-14 18:50] ni3k opened #1 "it gives xml of transcript and gives error"
youtube_transcript_api unh8kWUuNt4
for example at this commad it will give the xml file and after this will give the error

[2018-07-15 09:01] jdepoix commented on #1
Thanks for reporting! 👍
I fixed it and upgraded the version to 0.1.1. The new version is now available via pip!

[2018-07-15 09:01] #1 closed

[2018-08-05 12:02] SundareshPrasanna opened #3 "Getting transcripts in other language"
Hi.. thanks for this package.. i'm observing that while passing a list of video IDs, i'm getting other language transcripts from it. Is there anyway to restrict to English ?

For example:
For this video ID : GJLlxj_dtq8

I got the below transcript (sample of it):
'嘿，这里是Dave2D 这是微软的Surface Go，当他们发布这款产品的时候我就对它特别感兴趣。 在一段时间的体验后，感觉非常有吸引力的一款设备 我真的认为这是微软这么久以来发布的最好的产品，它的起售价为400美元（约等于2724RMB) 尽管我不认为你应该去买基础

[2018-08-05 18:37] jdepoix commented on #3
Hi,

this seems like some weird kind of YouTube bug. If you open up the video on YouTube and open the transcript, you'll see that it's in chinese as well, although the subtitles which are printed under the video are in englisch. Since all this package does, is scraping the transcript box from YouTube, there unfortunately is no way to work around this, as long as YouTube displays it in the wrong la

[2018-08-05 18:37] #3 closed

[2018-08-14 22:59] github-jk opened #4 "get_transcripts() doesn't work for me"
Hi,
first off: great script! This is exactly what I was looking for!
the get_transcript() command also works wonderfully for me. However, if I try to use a list of ~200 videos, I get errors.
Let's say I try:
`YouTubeTranscriptApi.get_transcripts("Video ID1","Video ID2")`
I get error messages like this one:

It starts with the first letter of the ID and then goes until the first ID is finished.
Am

[2018-08-15 14:15] github-jk commented on #4
Ah, I should have been more precise. Sorry about that!
Coming from R, I had already created a separate list and then ran the script. And as far as I could tell the script ran successfully, however it didn't give me an output. I thus figured I had done something wrong which prompted above's attempt.
Sorry, I'm really new to Python; should there be an output or would I have to point it towards a fil

[2018-08-15 14:50] jdepoix commented on #4
I am not sure if I am understanding you correctly, but if you want to print the results you'll have to do: `print(YouTubeTranscriptApi.get_transcripts(["Video ID1","Video ID2"]))`.
Is this what you were asking for? Otherwise please provide more code.

[2018-10-25 09:24] vijayzinnov opened #5 "pip install youtube_transcript_api throws error"
Collecting youtube_transcript_api
  Downloading https://files.pythonhosted.org/packages/27/92/17ce1a35de1f3cf91e206869300c63f32a8c9042c468c7b70f456acbb8af/youtube_transcript_api-0.1.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/tmp/pip-install-0nDnr_/youtube-transcript-api/s

[2018-10-25 09:25] #5 closed, assigned to nobody

[2019-02-20 17:33] sebbnet opened #6 "Preferred language support"
Hi, I noticed that someone opened up another post with regards to restricting the language to be English. I am also looking for this functionality. The video linked by Sundaresh, `GJLlxj_dtq8` has transcripts in many languages, but it seems that the script pulls the text for the language that is listed first alphabetically, in this case it would be in Chinese. I am wondering if the API has changed

[2019-02-21 12:03] jdepoix commented on #6
Thank you for you suggestion! I implemented the feature in #7 and just published is in a new version (0.1.2).

I added the following section to the README, which describes how it works:

You can also add the languages param if you want to make sure the transcripts are retrieved in your desired language (it usually defaults to english).

YouTubeTranscriptApi.get_transcripts(video_ids, languages=['d

[2019-02-21 12:05] #6 closed

[2019-02-21 13:00] jdepoix commented on #5
This error did sometimes occure on Python 2.x, but it has been fixed as of v0.1.2.

[2019-02-21 13:03] jdepoix commented on #3
@SundareshPrasanna in version 0.1.2 I implemented a feature which lets you retrieve the transcript for specific languages. Using this you might be able to work around your problem!

[code]

[2019-03-11 13:40] jdepoix opened #8 "CLI support for preferred language"
In v0.1.2 support for providing a list of preferred languages was added. However this is not accessible using the CLI as of now, although it should be.

[2019-03-11 13:55] jdepoix commented on #8
Implemented in #9

[2019-03-11 14:00] jdepoix commented on #8
Released in v0.1.3

[2019-03-11 14:00] #8 closed

[2019-04-15 20:22] viridianoblivion commented on #4
Hi,
I am trying to get the transcript for a video, but I'm running into the 'Most likely subtitles have been disabled by the uploader or the video is no longer available' error. I'm new to coding in general so I'm not sure if I've gone wrong somewhere? This is what I have:

from youtube_transcript_api import YouTubeTranscriptApi
print(YouTubeTranscriptApi.get_transcript('bqhadjrFOl0'))

[2019-04-15 21:52] jdepoix commented on #4
Hi @viridianoblivion,

I can not replicate this error.

Do you maybe have network issues, or can't open the video due to restrictions in your country? Are you able to open the video in the browser and open the transcripts? https://www.youtube.com/watch?v=bqhadjrFOl0

[2019-05-06 19:40] hosnas opened #12 "Could not get available persian subtitle"
simply I'm doing the following command in cli
`youtube_transcript_api LKvjIsyYng8 --languages fa
`
However I cant get the language I want that is available in subtitles.

[2019-05-07 00:43] utkarshdubey commented on #12
That would probably be a problem with the captions. If the caption is not
available for a particular language, it can't be fetched along.

On Tue, May 7, 2019 at 1:10 AM hosnas <notifications@github.com> wrote:

[2019-05-07 00:51] hosnas commented on #12
@utkarshdubey  as I said, the caption is available. But its not being fetched.

[2019-05-07 00:57] utkarshdubey commented on #12
Could you give me more information or the Tracebacks if you received any
errors?

On Tue, May 7, 2019 at 6:21 AM hosnas <notifications@github.com> wrote:

[2019-05-07 06:16] hosnas commented on #12
@utkarshdubey  the only error I'm getting is this:

`ERROR:youtube_transcript_api._api:Could not get the transcript for the video https://www.youtube.com/watch?v=LKvjIsyYng8! Most likely subtitles have been disabled by the uploader or the video is no longer available.
{}
`
Although its clearly not correct. cause I can pick `fa` language from list of subtitles by clicking on  `persian`

[2019-05-07 08:32] jdepoix commented on #12
@hosnas I can not replicate this error.

Running `youtube_transcript_api LKvjIsyYng8 --languages fa` with the current version (0.1.4) prints the subtitles without errors, using python 2 and 3.

Could you please provide more information on the version of youtube-transcript-api and the version of python you are using?

[2019-05-07 09:00] hosnas commented on #12
@jdepoix very wierd. I changed my location in youtube pannel and was able to get the subtitle.

[2019-05-08 18:33] jdepoix commented on #12
@hosnas so would you consider your problem to be solved, or should we investigate further?

[2019-05-08 20:19] hosnas commented on #12
@jdepoix  yes im considering it solved

[2019-05-08 20:19] #12 closed

[2019-05-24 04:47] sali0 opened #14 "get_transcript returning 3 copies of each dictionary"
Hello, and thank you for releasing this package, it is awesome.

I have a problem when trying to concatenate all of the text to create a full text copy of the transcript. When I loop through the transcript returned by get_transcript, I get 3 copies of each dictionary. Here is my code:

[code]
with transcriptor being the YouTubeTranscriptApi.

My output looks like this:

'start': 607.981, 'duration

[2019-05-24 07:15] utkarshdubey commented on #14
Hey @sali0 ,
I am not able to understand what you are asking, but as far as I can guess, you may be wanting to just print the text field right? If that is the case, you can select the text field easily using ``transcript['text']``.
This will only print the text field and omit others such as start and duration. Similarly, if you want to access the latter, you can do it with ``transcript['fieldName'

[2019-05-24 08:47] jdepoix commented on #14
Hi,

I need a bit more information to be able to replicate this: could you please provide the video ID of the video you are trying to get the subtitles for? And do you also have the problem if you just execute `YouTubeTranscriptApi.get_transcript('insert_video_id_here', languages=['en'])` without the other part of your code? Can you replicate the problem with other video IDs?

[2019-05-25 00:51] sali0 commented on #14
`{
  "url": "https://www.youtube.com/watch?v=zBkVCpbNnkU"
}`

That is the JSON I am feeding it. However, I just tried another video and it did work. Thank you for the quick reply.

[2019-05-25 00:51] #14 closed

[2019-06-18 14:11] jpsanr opened #15 "Transcription works on cli but it does not in code"
Hi i'm facing this exception when I try to transcript a video:

But if I try to use by cli version it works perfectly.

Any ideas of what I can do ?

My code:

x = YouTubeTranscriptApi.get_transcript(["1zCs7zYZK4g"], languages=["en"])
print(x)

[2019-06-19 10:31] jdepoix commented on #15
If you use `get_transcript` you should only provide a single ID instead of a list. If you want to pass in a list you should use `get_transcripts`.

This should work:
[code]

[2019-06-19 14:03] #15 closed

[2019-06-19 17:25] jpsanr commented on #15
Hi I still having problems:
If I run the code as the following it works fine:

print(x)

But if I try to run into a method it raise an exception:

    print(video_id)
    transcription_text = YouTubeTranscriptApi.get_transcript(video_id, languages=["pt"])
    return transcription_text

for l in lista:
    print("************** {} **********".format(l))
    x =(get_video_transcription(l))
    print

[2019-06-20 14:25] jdepoix commented on #15
@jpsanr it looks like the language "pt" is not supported for this video, as it works with `languages=["en",]`. Unfortunately there's nothing you or I could do about this.

However, I will add this possibility to the `CouldNotRetrieveTranscript` error message.

[2019-06-20 15:24] jdepoix commented on #15
Added the improved error message in #16 and released with v0.1.5

[2019-07-11 18:59] paramt opened #17 "Unable to catch CouldNotRetrieveTranscript exception"
As far as I can tell, there is no way to cleanly handle an exception from the `get_transcript` method.

[code]
This code shouldn't work at first because the video does not have French captions, so I would like to handle it by getting the English captions. But, this is what is printed out instead:

[code]

Is this intentional or am I missing something? I would like to be able to handle the exceptio

[2019-07-11 20:15] jdepoix commented on #17
I am pretty sure that your code is working as intended. If you print out `captions` you'll probably see that it contains the subtitles you want. The message you are seeing is just a log message, which is logged by the API using [the `logging` package](https://docs.python.org/3/library/logging.html). If you don't have configured where you want your log messages to go, it'll just be printed to stdou

[2019-07-15 13:09] jdepoix commented on #17
@paramt BTW, what you are trying to achieve with the code you posted, can be done much easier:
[code]

[2019-07-15 14:01] jdepoix commented on #17
The logging has been removed in #18 and released in v0.1.6.

[2019-07-15 14:01] #17 closed

[2019-07-21 18:24] julianbarg opened #19 "CouldNotRetrieveTranscript Error for unknown reason."
Package works great. I tried a couple of URLs and came across an exception for this one:

https://www.youtube.com/watch?v=C8rRqRoCUsg

[2019-07-22 11:14] jdepoix commented on #19
Hi @julianbarg,
thanks for reporting!
This actually turned out to be a bug, which I haven't encountered so far. However, it was easy to fix. The fix is implemented in #20.

[2019-07-22 11:19] jdepoix commented on #19
@julianbarg just released v0.1.7, which should solve your problem!

[2019-07-22 11:19] #19 closed

[2019-08-09 14:52] prateekjoshi565 opened #21 "Mismatch in Start Time and Duration"
Hi,

I extracted the subtitles of a video (video id - Li9R5RI5kdQ). For some of the phrases Start time + duration is greater than the start time of the next phrases.

Is that a bug or I am missing something?

Thanks in advance!

[2019-08-09 19:53] jdepoix commented on #21
Hi,

`start` is the point in time when the subtitle box appears on screen in the youtube video and `duration` is how long it is displayed. As there often is some overlap between subtitle boxes, this can happen.

[2019-08-09 19:53] #21 closed

[2019-09-03 06:58] 96fps opened #22 "is there any way to probe/list available transcripts?"
for a given video, could there be a way to list all the available  transcripts (short of manually trying/failing a series of language codes)? Either to fetch them all at once or as a way to inform what can be fetched

Some videos have transcripts in 20+ languages (say this one https://www.youtube.com/watch?v=GAgp7nXdkLU), or just have multiple english transcripts (auto/manually generated) and I'd

[2019-09-03 07:10] 96fps commented on #22
I had a skim of the youtube API and it looks like the ïntended" way they expose it requires the use of an API key, which may or may not be beyond the scope of your tool.  https://developers.google.com/youtube/v3/docs/captions/list#usage

[2019-09-03 15:24] jdepoix commented on #22
Hi @96fps,

as of know I don't know of a way to find out which subtitles are available, without using the Captions API. However, I am sure that there is a way to get them without having an API Key scraping the frontend, as the list of subtitles is available in the frontend, even when you are not logged in. Unfortunately I am currently a bit limited on time, but if you wanna do some research on how

[2019-09-17 20:45] i3abghany commented on #21
I've tried this on several auto-generated captions and it always fails as `start` + `duration` exceeds the starting time of the next subtitle.

[2019-09-17 22:23] i3abghany opened #23 "subtitles file saving"
I think it would be great if we had a feature that saves the subtitle as a `.srt`, `.vtt` or another subtitles format, I'd also like to say that I think that I can implement this feature, I already did some work and I think I can get it to work, should I pull and proceed to do it? As I don't see anything about contributing in the documentation, so I thought I'd ask in a separate issue.

[2019-09-18 08:38] jdepoix commented on #21
@i3abghany please read my previous answer. It explains why this is the case.

[2019-09-18 09:01] jdepoix commented on #23
Hi @i3abghany,

that could be a great feature!

I haven't come around to add a contribution guideline, as there only has been one contribution so far. But absolutely feel free to submit your contribution!

However, I am not a fan of doing the file handling in the `YouTubeTranscriptApi`, as I feel this would not integrate that nicely into the CLI and limit the flexibility of this feature. I would s

[2019-09-20 00:22] concettaalberti opened #24 "Could not retrieve the transcript when calling the API from a Flask web app"
when download the transcript within the python shell there is not problem.
This is the error I get:
[youtube_transcript_api._api.YouTubeTranscriptApi.CouldNotRetrieveTranscript_ Could not get the transcript for the video https___www.youtube.com_watch_v=T! This usually happens if one of the following things is the cas.pdf](https://github.com/jdepoix/youtube-transcript-api/files/3633650/youtube_tran

[2019-09-20 00:52] concettaalberti commented on #24
the problem is given to the fact that  Flask inputs the video_id as a dictionary and the API needs it as a list. I guess I can fix that. Ignore the issue.

[2019-09-22 20:47] #24 closed

[2019-10-03 22:20] 96fps commented on #22
That would certainly be helpful, even if it doesn't 100% solve my problem.

It does look like `youtube-dl` has a `--list-subs` option, which helps, and it even distinguishes between manually created subtitles and automatically generated ones, (although the latter appears to conflate both automatically transcribed subtitles from the audio with automatically translated subtitles)

[2019-10-07 13:53] cantwbr opened #25 "CouldNotRetrieveTranscript"
`YouTubeTranscriptApi.CouldNotRetrieveTranscript(video_id)` has been raised for the video: https://www.youtube.com/watch?v=pFQzqK3MrTc

[code]

Subtitles and the video itself are available.

[2019-10-07 14:26] nicholasguimaraes opened #26 "Error downloading the transcript"
I'm getting an error saying that the video or the subtitles might be no longer available but this isn't true.

I'm simply passing a .txt file with the video ids I want to have the transcript.

Here's the error I'm getting,

C:\youtube_transcripts_mp3>python get_transcript.py id.txt
Traceback (most recent call last):
  File "C:\youtube_transcripts_mp3\youtube_downloads\lib\site-packages\youtube_tra

[2019-10-07 14:57] JesseKanter opened #27 "Cant get the transcripts anymore"
Having trouble getting transcripts, it was working fine yesterday.

I get the following error:

TypeError                                 Traceback (most recent call last)
/anaconda3/envs/insight/lib/python3.7/site-packages/youtube_transcript_api/_api.py in get_transcript(cls, video_id, languages, proxies)
     92         try:
---> 93             return _TranscriptParser(_TranscriptFetcher(video_i

[2019-10-07 15:15] JesseKanter commented on #27
I have been relying pretty heavy on this so please let me know soon if you have any suggestions. Thanks!

[2019-10-07 15:44] jdepoix commented on #26
Apparently Google just changed something about how the their Transcript API works, therefore this module is currently not working at all. I am looking in to this and try to fix it asap!

[2019-10-07 15:50] jdepoix commented on #27
Apparently Google just changed something about how the their Transcript API works, therefore this module is currently not working at all. I am sorry if this gets you into trouble, but you have been warned that this can happen at any time due to the nature of this module (https://github.com/jdepoix/youtube-transcript-api#warning).

I will do my best to fix this as soon as possible, but I can not gi

[2019-10-07 15:50] jdepoix commented on #25
Apparently Google just changed something about how the their Transcript API works, therefore this module is currently not working at all. I am looking in to this and trying to fix it asap!

[2019-10-07 16:01] JesseKanter commented on #27
I understand. Thank you for responding. Please let me know if you do resolve it. Thank you again, I really appreciate it.

[2019-10-07 17:03] jdepoix commented on #27
Just fixed this with v0.1.8. It is now available on PyPi. Sorry for the inconveniences!

[2019-10-07 17:03] #27 closed

[2019-10-07 17:03] jdepoix commented on #26
Just fixed this with v0.1.8. It is now available on PyPi. Sorry for the inconveniences!

[2019-10-07 17:03] #26 closed

[2019-10-07 17:03] jdepoix commented on #25
Just fixed this with v0.1.8. It is now available on PyPi. Sorry for the inconveniences!

[2019-10-07 17:03] #25 closed

[2019-10-07 17:05] nicholasguimaraes commented on #26
That was fast! Thank you very much

On Mon, 7 Oct 2019 at 1:03 PM jdepoix <notifications@github.com> wrote:

[2019-10-08 18:32] JesseKanter opened #29 "works for some videos and not others"
Hi, I had written previously when this wasnt working earlier this week and the author updated and that worked great. Thank you!

It does now seem that I am getting the same error as last time but only for certain videos. Most watch mojo videos on youtube I cannot get transcripts for, most John oliver last week tonight upsides I can.

Any idea why some might not be accessible? I can see their trans

[2019-10-08 18:36] nicanor5 opened #30 "Failing to get transcription for videos that used to work"
So as the title says, the module is failing when trying to get the transcript for programs that used to work completely fine before.

Any help would be appreciated.

Edit: I am running Python 3.7.3 on Mac OSX Mojave 10.14.6 but I am also running as a Cloud Function (worked fine until a few days ago).

Here is an example with one of such videos:

[code]

[2019-10-08 18:47] ArnAV318 commented on #30
Facing the same issue with any video which has transcripts.

[2019-10-09 03:07] leifoo commented on #30
same issue

[2019-10-09 04:05] gunnxx commented on #30
Try to upgrade your package
`pip install --upgrade youtube_transcript_api`

[2019-10-09 09:31] amanmj opened #31 "Not working for some videos"
I used this library before and it was working for all of the videos that I had in my list. But it is showing me the error when running for some of the videos.
[code]

e,g. It fails to generate transcripts for the video - https://www.youtube.com/watch?v=I5_rWPxJwk8

[2019-10-09 11:32] jdepoix commented on #29
Fixed with v0.1.9

[2019-10-09 11:32] #29 closed

[2019-10-09 11:33] jdepoix commented on #30
Fixed with v0.1.9

[2019-10-09 11:33] #30 closed

[2019-10-09 11:33] jdepoix commented on #31
Fixed with v0.1.9

[2019-10-09 11:33] #31 closed

[2019-10-10 15:36] samira20494 opened #33 "Could not get the transcript for the video"
I used to run my python code which is using this API and it was working properly, but when I run it now, it cannot get the video transcript.

thanks

[2019-10-10 17:33] samira20494 commented on #33
I upgraded the api to the latest version and the issue is fixed.

[2019-10-10 17:33] #33 closed

[2019-10-10 17:41] cemaytekin opened #34 "Can not query multiple videos ( returns always false)"
Hello, for a single video id I am able to get the subtitles however if that single video id is in a bunch of video ids and I want to perform :
 jsonobject=(YouTubeTranscriptApi.get_transcript(id_list[i]))
 even though that particular video id is in the list, it returns false for all the video ids as though none of them has a subtitle.

[2019-10-10 18:56] jdepoix commented on #34
Please provide more information on the surrounding code and which version of this module you are using. Make sure that you are using the latest version (v0.1.9), as YouTube recently changed somethings with their webclient.

[2019-10-10 19:38] cemaytekin commented on #34
Thanks for the quick reply. It seems that when I am using VPN the code does not work however when I remove VPN, it seems fine for now.

[2019-10-10 19:52] #34 closed

[2019-10-11 04:32] danielcliu opened #35 "Inaccurate Caption Availability"
The project has a bug where, depending on the available captions for a given video, results may not be accurate. Because Youtube seems to return the list of available captions in alphabetical order ( example: English(en) links will be ordered after Dutch(nl) but before German(de)). This means that in the case a language happens to be listed before the user's desired language and is of a different

[2019-10-11 08:58] jdepoix commented on #35
Hi @danielcliu,

thanks for the report. I am aware of this, but haven't gotten around to implementing a proper fix. As you already pointed out this happens, when the timedtext-api URL which is scraped is for an automatically generated subtitle, but the language which is provided by the user, does only have a manually created subtitle (or the other way around). Because the timedtext-api URL contain

[2019-10-11 15:18] macdevign opened #36 "Transcript retrieval failed."
Hi,
just to confirm with you if the library has stopped working due to changes in Youtube ?
thank

As all the videos  (including those that I am able to retrieve successfully in the past) has failed with similar  following message.:

ERR: Could not get the transcript for the video https://www.youtube.com/watch?v=AeJ9q45PfD0! This usually happens if one of the following things is the case:
 - subti

[2019-10-11 15:27] macdevign commented on #36
Hi,
I notice that there is  new test format, and I reinstall it, and it working fine now.

thank

[2019-10-11 15:27] macdevign commented on #36
Hi,
I notice that there is  new test format, and I reinstall it, and it working fine now.

thank

[2019-10-11 15:27] #36 closed

[2019-10-12 02:00] danielcliu commented on #35
My idea is that where the project already splits at `TIMEDTEXT_STRING` which contains a list of the available caption links as far as I can tell. I think if I loop through the list and see if '&lang={language}' is in a given link this will solve the problems with the extra url parameters. I believe the manual captions are listed before the ASR ones, so returning the first link that passes the chec

[2019-10-12 17:34] jdepoix commented on #35
That sounds good. However, I am not sure if "manual captions are listed before the ASR ones" is true. Please double check that before, implementing it this way ;)
I am looking forward to your contribution 👍!

[2019-10-15 05:38] danielcliu commented on #35
I have a branch that I believe fixes the bug, but I can't get it to pass the test `test_get_transcript__fallback_language_is_used`. I'm unsure how that test is supposed to work.

In addition, is there an auto-formater or something that you want me to use?

[2019-10-21 16:54] jdepoix commented on #35
@danielcliu Sorry for the late reply, I am currently on holiday.

The point of the test is to make sure that the transcript for `en` is retrieved, when `de` fails, while calling `YouTubeTranscriptApi.get_transcript('video_id', ['de', 'en'])`.

There currently is no auto-formatter. Just stick to PEP-8 and it should be fine.

[2019-10-29 20:21] shaylafolson opened #38 "No longer getting transcripts"
Hello,

I was able to get transcripts for videos about a month ago, but it seems that all attempts now return an error that the transcripts aren't available. I have tried multiple videos.  Thanks

[2019-10-29 21:17] danielcliu commented on #38
Have you tried upgrading your `youtube-transcript-api` package? There were quite a few issues opened about 20 days ago when youtube changed their formatting for the captions, so if you haven't updated in the last month that could be it.

If you are on the latest version of the package, could you please provide which video IDs are not working for you now, because I tested a few random vids and the

[2019-10-29 21:26] shaylafolson commented on #38
Thank you! I thought I had updated, but I'm a novice in python, so it was a simple mistake. Sorry!

[2019-10-29 21:34] danielcliu commented on #38
Its no problem. Glad you got it working!

[2019-10-30 09:09] microwriting commented on #38
I'm sorry for disturbing you,  I am using the latest version 0.1.9, however,  I get an error.
The error message is as follows.

Traceback (most recent call last):
  File "E: \ 06_python_venvs \ youtube_data_lesson4 \ lib \ site-packages \ youtube_transcript_api \ _api.py", line 95, in get_transcript
    return _TranscriptParser (_TranscriptFetcher (video_id, languages, proxies) .fetch ()). parse (

[2019-10-30 10:20] microwriting commented on #38
I'm sorry. I just made a mistake here.
Wrong) YouTubeTranscriptApi.get_transcripts(video_id)
Correct) YouTubeTranscriptApi.get_transcript(video_id)

[2019-11-01 03:59] #38 closed

[2019-11-03 02:30] wonseokch commented on #35
Has this been fixed and updated the module? I have been running tests, calling installed modules and some videos by default returns subtitles in random language.

[2019-11-03 04:19] danielcliu commented on #35
@wonseokch Ive had a PR out to fix this issue, but it hasn't been merged. So no, this bug is not fixed yet, but you can always just specify as the language you want.

[2019-11-03 05:57] cramdoulfa opened #39 "API stopped working?"
The API stopped working for me today. For all videos, I get the error:
`Could not get the transcript for the video https://www.youtube.com/watch?v=AfsnHVaScjg! Most likely subtitles have been disabled by the uploader or the video is no longer available.`

I hope it's not YT trying to seal the access -_-

[2019-11-03 06:01] cramdoulfa commented on #39
My bad, I had not updated the package
Thanks for maintaining this, will donate right now!

[2019-11-03 06:01] #39 closed

[2019-11-03 17:49] wonseokch commented on #35
@danielcliu Thanks for the prompt response. I've tried to pass the language as a parameter but it wouldn't work.

YouTubeTranscriptApi.get_transcript(id, ['en'])

How were you specifying the language?

[2019-11-03 18:18] danielcliu commented on #35
@wonseokch it is probably not working because, as the README implies, `languages` is a default argument, so you must set it by name. So try `YouTubeTranscriptApi.get_transcript(id, languages=['en'])`. However, I don't see the README cover this call for `get_transcript()`, so if that doesn't work try `YouTubeTranscriptApi.get_transcripts([id], languages=['en'])` instead

[2019-11-04 02:41] wonseokch commented on #35
@danielcliu Thank you! YouTubeTranscriptApi.get_transcript(id, languages=['en']) is working fine

[2019-12-04 20:33] kadedworkin opened #40 "Not working?"
I have absolutely loved working with this library for what I'm researching so thank you.

That stated, today while using 0.1.9, I'm getting the exception "raise YouTubeTranscriptApi.CouldNotRetrieveTranscript(video_id)" for every video I've tried including videos that were collected as recently as yesterday.

I did already check to see if a new version had come out (which I also verified here), re

[2019-12-04 20:58] kadedworkin commented on #40
Also confirmed through the YouTube caption API that captions (both creator uploaded and auto-transcriptions) exist on multiple videos yet this library can't grab them. Run through both CLI and a Django app. Hoping this is something that is temporary but some confirmation from others involved with this would be nice.

[2019-12-04 22:41] kadedworkin commented on #40
Adding to the mystery, local dev machine now producing results. Production remains producing errors. Same video.

[2019-12-04 23:17] kadedworkin commented on #40
Appears to have been an issue with the originating server making the request. Closing.

[2019-12-04 23:17] #40 closed

[2019-12-18 02:34] #35 closed

[2019-12-30 23:17] jdepoix commented on #22
Hi @96fps,
I am happy to tell you that the feature you are asking for has been implemented as of v0.2.0! Closing this Issue now.

[2019-12-30 23:17] #22 closed

[2019-12-30 23:19] jdepoix commented on #35
This has been fixed with v0.2.0. Many thanks to @danielcliu for the contribution and efforts in the reviewing process!

[2019-12-30 23:21] jdepoix commented on #23
Hi @i3abghany,
are you actively working on this? Otherwise I would like to close this issue, as I personally don't have a demand for this feature.

[2020-01-04 18:19] vinodyk opened #44 "ImportError: cannot import name 'YouTubeTranscriptApi' from partially initialized module 'youtube_transcript_api' (most likely due to a circular import)"
ImportError: cannot import name 'YouTubeTranscriptApi' from partially initialized module 'youtube_transcript_api' (most likely due to a circular import)

[2020-01-04 18:26] jdepoix commented on #44
@vinodyk could you please provide more information on what you are trying to do?

It seems that you have a circular import in your code, as the error message suggests, but there's no way to help you if you just dump an error message here without any context...

[2020-01-04 20:35] vinodyk commented on #44
Thanks for quick response.
Figured it out, I had the code in file saved as `_youtube_transcript_api.py`_ so it was loading this file instead of expected module.

[2020-01-04 20:35] #44 closed

[2020-01-04 20:36] vinodyk commented on #44
thanks

[2020-01-11 02:37] arturogamboaphd commented on #4
Hi, I am experiencing some of the same issues mentioned above. I have a python script that walks thru a list of YouTube videos URLs and attempts to extract the transcripts.
The script calls **YouTubeTranscriptApi.get_transcript(video_id_list[index])** in a loop
The same script will work once or twice and then stop working or will run and extract about 160 transcripts and then continue through the

[2020-01-11 02:40] arturogamboaphd commented on #4
Sorry for missing in above post. I am using youtube_transcript_api  v 0.2.1

[2020-01-11 14:59] jdepoix commented on #4
Hi @arturogamboaphd,
could you please share the code you are using? Also could you please provide the video IDs of the videos which are failing?
The video URL which is printed in the exception message certainly is not a valid YouTube video URL, but I need to know which video id you were trying to get a video for to be able to replicate it.

[2020-01-13 13:40] jdepoix commented on #23
Due to the lack of a reply I will close this now. Let me know if you'll revisit this and decide to implement it.

[2020-01-14 07:20] danielcliu opened #45 "Allow for Age Restricted Videos to be Accessed"
If you try to access an age-restricted video, like `GU7qYaYzd-0`, without cookies you get back the `The video is no longer available` error. There should be functionality added to allow a user to load their Youtube cookies so they have the authorization required to access the age-restricted video.

I have almost finished a small PR to complete this, so if you're ok with it I will open up said PR.

[2020-01-14 09:59] jdepoix commented on #45
Hi @danielcliu,
thanks for the report. Looking forward to the PR! 😊👍
But doesn't fixing this require some sort of login?

[2020-01-15 03:49] danielcliu commented on #45
It requires the user to be able to have access to the desired video through web-browser.

[2020-01-15 10:35] jdepoix commented on #45
Okay, that seems like an easy fix, as all requests are already done using a Session object.

[2020-01-16 11:57] iercetin opened #47 "Fetch the data as json compatible"

[2020-01-16 16:34] jdepoix commented on #47
If you want me to help you, you need to supply more information. I have no clue what you are asking for...

[2020-01-23 13:46] jdepoix commented on #47
I will close this now, as no information was supplied.

[2020-01-23 13:46] #47 closed

[2020-01-31 10:40] jdepoix commented on #45
This has just been released as part of v0.3.0. Thank you for the contribution! 😊

[2020-01-31 10:40] #45 closed

[2020-02-05 09:50] CoolCold opened #48 "cli tool is referred but is missing"
Hello!
Docs refers usage of CLI tool, but the tool itself is not provided. For example after `pip install youtube_transcript_api` , dir contents is:
[code]

[2020-02-05 10:03] jdepoix commented on #48
I am not sure what you are searching for in this directory. The `__main__.py` is the file which is executed when you run `youtube_transcript_api ...`.
I am not sure what system you are using but the the executable will most likely be located under `.../python/3.8.1/bin/youtube_transcript_api`. Either way it should be added to your path by pip so you don't have to know the executables exact locatio

[2020-02-05 10:03] #48 closed

[2020-02-07 03:51] airwavesmi opened #49 "Can't get the youtube transcript"
Hello, admin. I had python2.7.5 pip 20.0.2 from /usr/lib/python2.7/site-packages/pip (python 2.7) with latest youtube_transcript_api installed in my centos7. I had try python3.7 but no luck to make them work... Any help would be appreciated!

[root@lofidi ~]# youtube_transcript_api --list-transcripts PT2_F-1esPk

Could not retrieve a transcript for the video https://www.youtube.com/watch?v=PT2_F-1

[2020-02-07 04:14] #49 closed

[2020-02-16 16:48] aliveupstairs commented on #23
I want this feature (in the CLI), @jdepoix. :+1:

[2020-02-16 17:05] jdepoix commented on #23
@aliveupstairs as mentioned previously I personally don't have a demand for this feature, but feel free to contribute if that's something you'd like to see in this module.

[2020-02-16 17:09] aliveupstairs commented on #23
I'm not a python developer, sadly. With due respect, I don't see the point of a subtitles CLI that doesn't output a usable subtitle file. I appreciate the unixy output, but the CLI shouldn't require a converter script to just use.

[2020-02-17 14:10] jdepoix commented on #23
@aliveupstairs regarding the point of this module: I implemented this because I needed it for a data science project and to my knowledge most of the users use it in some sort of data science setting. In this sort of setting a format like srt or vtt is not desirable at all. So I would respectfully disagree with your statement.
But as I stated before, I don't mind this being part of this module, as

[2020-02-17 15:23] aliveupstairs commented on #23
I see where you're coming from, @jdepoix. Could you consider opening this issue then? and maybe add a [`help wanted`](https://github.blog/2020-02-12-supercharge-your-command-line-experience-github-cli-is-now-in-beta/#filter-lists-to-your-needs) label?

[2020-02-17 15:41] jdepoix commented on #23
@aliveupstairs will do that 👍

[2020-02-24 14:43] benjackman opened #50 "Google Colab issue"
Hi jdepoix!

Thanks for a fantastic API. I've found it very useful.

I have noticed a strange bug though (and it may not be related to your code). I cannot get this API to work run on Google Colab. It works fine in a local environment for this video:

https://www.youtube.com/watch?v=_S2lYXf-uu0 (video ID: _S2lYXf-uu0)

But the same video returns a VideoUnavailable error when run on Google Colab. B

[2020-02-25 08:11] jdepoix commented on #50
Hi Ben,
I just tried this in a colab notebook (https://colab.research.google.com/drive/1MMlkYhdSSLC6fCq5UXmqBJnNGAyjHRSh) and I have no issues getting the transcript. Looks like this is something specific to your notebooks environment.
Cheers,
Jonas

[2020-02-25 08:11] #50 closed

[2020-02-25 09:45] benjackman commented on #50
Thanks Jonas! Not sure what the issue was yesterday - I was able to get it all working now. Sorry for bothering!

[2020-02-25 10:41] prakhardg opened #51 "Shows No Video Found even if video exists"
I was creating transcripts for around 10k videos using a cron. After creating around 260 transcripts, this library started giving error, video not found. However, I checked that the video existed and its CC also existed. Is there any rate limit imposed by youtube? If yes, can you describe it in detail and how can I overcome it?
Also shouldn't the library throw 429 error in that case? Please reply

[2020-02-25 12:27] jdepoix commented on #51
I have fetched transcripts for many thousands videos at once without running into any rate limits. Unless they recently implemented something like that, I don't think that this is the problem.
Few questions:
- Can you name some IDs it is failing for?
- Is the error replicatable?
- does it always fail for exactly the same videos?

[2020-02-26 04:18] prakhardg commented on #51
Please check this ID: `3sibOgsok1Q`
It says the video is no longer available, though it should say that the subtitles are disabled for this video (As it shows most of the times)

Also, please check this YouTube ID: `wehYkSa2oAg`
It gives me the same error though the captions are available. Can you provide a quick fix for me?

Here is the traceback of the error

`Traceback (most recent call last):

[2020-02-26 09:53] jdepoix commented on #51
I can not replicate these errors.
When I run `YouTubeTranscriptApi.get_transcript('3sibOgsok1Q')` I'll get an `TranscriptsDisabled` exception. Which is correct as the transcripts for this video are disabled.
And when I run `YouTubeTranscriptApi.get_transcript('wehYkSa2oAg')`it returns the correct transcript, as expected.

Do you also run into those errors, if you just execute these requests on the

[2020-02-26 11:10] prakhardg commented on #51
Okay sure will try and get back to you. Thank you for your time. Unfortunately, I cannot share the code as it is supposed to be confidential as per the organization's guidelines.

[2020-02-27 11:57] jdepoix commented on #51
@prakhardg I will close this now, as the underlying issue doesn't seem to be related to this module. However, feel free to post updates in here, maybe they'll be helpful to someone else.

[2020-02-27 11:57] #51 closed

[2020-03-11 18:32] joacosaralegui opened #52 "Error when using from a SSL secure server"
Hey! I have been using the api from my local machine and it works smooth, but when trying to use it in a ubuntu server with SSL enabled i run into the following error:

` requests.exceptions.SSLError: ("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')`

If i override the Request verification by changin lines 56 and 258 of _transcripts.py to
`get

[2020-03-12 13:56] joacosaralegui commented on #52
Sorry, it was an error in my pyOpenSSL old version. Fixed it with `sudo pip install pyopenssl -U`.
More reference here: [https://stackoverflow.com/questions/43267157/python-attributeerror-module-object-has-no-attribute-ssl-st-init](https://stackoverflow.com/questions/43267157/python-attributeerror-module-object-has-no-attribute-ssl-st-init)

[2020-03-12 13:56] #52 closed

[2020-03-24 17:12] kadedworkin commented on #51
@prakhardg Odds on you've worked through your implementation.

Worth leaving here that from what I've been working on, I ran into the same problem. Appears that the YouTube infrastructure stops offering up responses to requests from the requesting IP for data after a certain number of queries. In my case, using a server in the SF area, pulls aren't successful after ~480 episodes in an hour and onc

[2020-04-02 17:45] eliwilner opened #53 "Different video source"
Hi,

Great work!
I was wondering if it also work on personal videos on my local and not only youtube ones

[2020-04-03 09:28] jdepoix commented on #53
Hi,
no this only works for YouTube videos. You could however upload videos to YouTube and then retrieve their subtitles using this module, if you really want to use this.

[2020-04-03 09:28] #53 closed

[2020-04-12 15:38] ahmadhammam1 opened #54 "video no longer found"
the api keeps throwing exceptions that video is longer available although i checked with this video for example "SPuS9UJF1lo" and it was available and it had transcripts.

[2020-04-12 15:45] #54 closed

[2020-04-19 18:17] apoorv-jain commented on #23
Hi! I am not very adept in coding in open source but definitely want to help you . Just required help from you. I will do all the file handling for you and can create it into .srt files. Just required your help in integrating it in CLI as I am not adept with command line arguments.
Please if you could only guide me a little it would help you and me as well.

[2020-04-20 12:46] jdepoix commented on #23
@apoorv-jain Glad to hear that, but could you provide some more information on what kind of help you need exactly? The `argparse` module is fairly well documented (https://docs.python.org/3/library/argparse.html) and I already outlined how the API for this could looks like in the comment above (https://github.com/jdepoix/youtube-transcript-api/issues/23#issuecomment-532592368). Also I would prefer

[2020-04-20 12:55] apoorv-jain commented on #23
Okay I had been working on this srt format and what all the formats do you want to be included.
Thanks for providing the library for the parsing the CLI commands .
This would be my first open source contribution thus please feel free to correct me at any point of time.
The help I needed is where does the code for parsing out the file is situated. I just wanted to ask that. Rest I will try my best

[2020-04-21 08:59] jdepoix commented on #23
@apoorv-jain I suggest adding a `_formatting` module which contains the classes `SrtFormatter`, `VttFormatter` and so on which all implement the following interface:
[code]
A user of this module could then use it like this:
[code]

[2020-04-21 18:13] leonardltk opened #55 "Only get videos by language"
Hi, this is a wonderful api.

Just wondering, is there a way for me to only get videos by a specific language ?

For example, today i only want to download random videos with manual english subtitles, (hence video is in english too).

Tomorrow i only want to download transcript with manual mandarin transcripts, (hence video is in chinese too).

[2020-04-21 18:57] jdepoix commented on #55
Hi @leonardltk,
I am not sure if I am understanding you correctly. You just want random videos for a given language, without providing a video id? If that's the case, no that is not possible, you'll always have to provide a video id for the video you want to retrieve. You could have a look at the official YouTube API, maybe it allows iterating over random videos (and then use this module to get th

[2020-04-22 19:08] apoorv-jain commented on #23
Okay I will try and work  on it and how do you want it in the CLI format.

[2020-04-23 11:56] jdepoix commented on #23
As stated above

[2020-04-23 15:05] jdepoix commented on #55
@leonardltk please let me know if this answers your question, so that I can close this issue.

[2020-04-24 09:30] leonardltk commented on #55
Yes, maybe asking for random videos is abit asking for too much.

How about, listing all videos in a channel ?

So that given a known channel, i can iterate this list and perform the transcription.

[2020-04-24 10:01] jdepoix commented on #55
@leonardltk I am pretty sure that this functionality is already covered by the official YouTube API. Therefore, I don't see a need to implement it into this module.

[2020-04-24 10:32] apoorv-jain commented on #23
@jdepoix  One More thing I encountered is that do I have to export all the files if a person asks for multiple languages as `_en` `_de` as the extra name added??

[2020-04-24 10:39] jdepoix commented on #23
@apoorv-jain this is one of the many reasons why I don't want the file handling to be done by this module. Just return the data in the correct format and then the user can do with it whatever he wants!

[2020-04-24 11:08] apoorv-jain commented on #23
But it might not be as difficult to implement in API but a little bit in the CLI.
I will keep both the versions at hand you could choose which will be better

[2020-04-24 11:16] jdepoix commented on #23
It's not about the file handling being difficult to implement, it's more a matter of keeping the separation of concerns. File handling can easily be done by the user and he can do it to his liking. If it is implemented in the CLI doing something like `youtube_transcript_api <first_video_id> --format svt > transcript.svt` allows you to save the transcript to a file, without much effort.

[2020-04-24 11:21] apoorv-jain commented on #23
Ohkay I'll try to implement it. But please be patient as I am novice on these kinds of things but will try my best.

[2020-04-24 19:44] leonardltk commented on #55
Got it, thanks.

[2020-04-24 19:44] #55 closed

[2020-04-27 07:52] pva22 opened #56 "VideoUnavailable problem for available video"
I use:

[code]

Get this error:

VideoUnavailable:
Could not retrieve a transcript for the video https://www.youtube.com/watch?v=ppWPuXsnf1Q! This is most likely caused by:

The video is no longer available

If you are sure that the described cause is not responsible for this error and that a transcript should be retrievable, please create an issue at https://github.com/jdepoix/youtube-transcript-

[2020-04-27 08:47] jdepoix commented on #56
I can not replicate the error for the video ppWPuXsnf1Q. I can retrieve the transcripts for this video without a problem. Looks like it's a problem on your end. Maybe a connection issue? Can you get the transcript you are looking for when you open the video in the browser? Sometimes transcript are temporarily not available. Maybe just give it another try and let me know how it goes.

[2020-04-28 12:33] joacosaralegui commented on #56
Hey i sometimes get this error when using the api to much in a short period of time! Usually Youtube seems to ban those IP addresses. I overpass this by changing the IP in which my server is running, but im sure there must be a more elegant solution!

[2020-04-28 12:49] jdepoix commented on #56
@joacosaralegui I've previously had a few people report that they get errors when executing a lot of requests in a short period of time. Personally I was never able to replicate this, even with high amounts of requests, but it makes sense that YouTube would block a certain IP if they send in to many requests. But I don't see how this module could do anything about this. Any suggestions?

[2020-04-28 12:54] jdepoix commented on #56
I will close this now, as I don't see a fixable Issue here. But feel free to add suggestions on how to improve upon this @joacosaralegui

[2020-04-28 12:54] #56 closed

[2020-05-07 08:30] dwil233 opened #57 "A little inaccuracy in the documentation"
There is a string in the doc:

``` transcript_list = YouTubeTranscriptApi.list_transcripts(video_id, languages=['de', 'en'])```

but the list_transcript method has no languages parameter.

[2020-05-07 11:00] jdepoix commented on #57
Thanks for pointing this out! I will get this fixed! 👍

[2020-05-07 19:16] deniswsrosa opened #58 "Script is broken"
Hi, I just tried to reinstall everything and  seems like there is something wrong with the latest version:
`  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/youtube_transcript_api/__init__.py", line 1, in <module>
    from ._api import YouTubeTranscriptApi
  File "/Library/Python/2.7/site-packages/youtube_transcript_api/_api.py", line 4, in <module>
    CookieLoadErr

[2020-05-07 19:23] danielcliu commented on #58
I'll look into this later today

[2020-05-08 09:05] jdepoix commented on #58
@deniswsrosa I just tried this and I can not replicate it. Could you please provide the exact python and youtube-transcript-api versions you are using?

[2020-05-08 17:10] danielcliu commented on #58
I was unable to replicate also

[2020-05-08 19:01] RomanTerentiev opened #59 "I can't get transcripts with age restrictions."
Hello. I Can't get transcription with age restrictions. For example videoID = thsHOAF7LQI

[2020-05-08 19:20] danielcliu commented on #59
Hello RomanTerentiev,

I am unable to replicate your error. I was able to get the transcript for ` thsHOAF7LQI` in both python 2.7 and 3.6.9 on the latest version of `youtube-transcript-api`

You are using cookies right? For age restricted videos you must have a Youtube account that can access the video in browser, then download your cookies into a text file. See the `Cookies` section in the ReadM

[2020-05-08 19:39] RomanTerentiev commented on #59
Oh.... Thank you. I wrote a module for my project so long ago that I forgot about cookies ...

Have a nice day :)

[2020-05-08 20:46] #59 closed

[2020-05-13 11:47] jdepoix commented on #58
@deniswsrosa were you able to fix this? Can you provide more information? Otherwise I will close this issue.

[2020-05-13 15:02] deniswsrosa commented on #58
Hi, Actually I just noticed that the problem with my code was something else (I tried to run it on my terminal but it was running python 2,7). The actual error is:

[code]

when I run  **youtube_transcript_api https://www.youtube.com/watch?v=CZ3wIuvmHeM** , but the video is available. Is there anything missing?

[2020-05-13 15:25] jdepoix commented on #58
you have to run `youtube_transcript_api CZ3wIuvmHeM`

[2020-05-13 15:25] #58 closed

[2020-05-13 16:41] deniswsrosa commented on #58
I'm an idiot

[2020-05-20 18:06] jamirian071498 opened #60 "Inconsistent get_transcript results"
When I repeatedly call "get_transcript" with the same video id, sometimes I get back the transcript, while other times I get back a "VideoUnavailable" error. As far as I can tell, this can happen with any youtube video. I am using version 0.3.1.

[2020-05-21 08:45] jdepoix commented on #60
Are you doing those calls in a short amount of time, or over a bigger time span? And about how many calls are we approximately talking?
While I never was able to replicate this, multiple users have reported that they ran into YouTube rate limits, when doing many requests in a short amount of time. Unfortunately there's nothing this module can do about limitations set up by YouTube itself.
However,

[2020-05-21 12:59] joacosaralegui commented on #60
Hey guys. I see how this may be a follow up from [this issue](https://github.com/jdepoix/youtube-transcript-api/issues/56). As far as i was able to determine, YouTube tends to block this kind of continuous requests on **STATIC IP** servers.

In my case for example I had a Google Cloud VM running with a fixed external IP, and every "x" days of requests (around 2000 requests per day, for 3 or 4 days

[2020-05-21 13:14] jdepoix commented on #60
@joacosaralegui thanks for the insights!

[2020-05-21 16:28] jamirian071498 commented on #60
I do not believe my issue has to do with the YouTube API rate limits. The rate limit is apparently 10000 requests per day and I am using somewhere around 5 requests per hour.

One thing I have noticed is that the API works consistently when I call it locally, but not when I call it from a AWS lambda. If possible any help would be greatly appreciated!

[2020-05-21 17:15] jdepoix commented on #60
So if you're only having this issue when using AWS, I could imagine that AWS is using an IP address for those requests which is also used by others. Therefore your rate limit is shared between multiple users. However, this could be difficult to verify, or work around. Is there a way to have lambdas use a dedicated IP for external calls? 🤔

[2020-05-27 14:15] jdepoix commented on #60
@jamirian071498 I will close this now as I don't think there's a problem at hand which can be solved by this module, but feel free to share your learnings if you find out more about this problem.

[2020-05-27 14:15] #60 closed

[2020-06-10 18:58] ccrupp opened #61 "Transcripts not available"
I used this library yesterday and was able to access a multitude of transcripts. However, when I try to use the library today, it says that it could not retrieve the transcript most likely because: the video is no longer available when it is. Did something change or am I doing something wrong?

[2020-06-11 09:22] jdepoix commented on #61
Hi @ccrupp. I can not replicate this error. Which python version are you using? And are you sure it's not a network issue on your end?

[2020-06-11 18:50] ccrupp commented on #61
Thanks for the response @jdepoix! I'm currently using Python 3.8.3, I don't believe it's a network issue on my end because I can access the video through my browser just fine. My thought is that I created too many requests but the rate limit is reset daily for the youtube API but it is still not working for me after waiting a day. Is this a common problem? I've tried with many other videos with no

[2020-06-11 19:00] danielcliu commented on #61
@ccrupp Just to case you thought otherwise, this library does not use the Youtube Data V3 API so there is no "Quota" reset every day

[2020-06-11 19:03] ccrupp commented on #61
Oh good to know, however, I'm more confused now. Any suggestions as to what I should try differently? I'm kind of at a loss for solutions

[2020-06-11 19:10] danielcliu commented on #61
I am unsure and unable to investigate further right now. Rate limiting has been an issue before with this library and so maybe there are some solutions in the other threads? I would check out https://github.com/jdepoix/youtube-transcript-api/issues/60 for starters

[2020-06-11 19:28] ccrupp commented on #61
Thank you, I will check them out. I'll close this thread for now

[2020-06-11 19:28] #61 closed

[2020-06-26 17:05] joacosaralegui opened #62 "Fetch video title"
Hi! I was looking for a way to retrieve the video title but couldn't find one. Is there a way to achieve this that im missing? I know its not the purpouse of these API but It may be cool if it could so i dont have to get also youtube-dl or something like that only for the video title.
Thanks!!

[2020-06-26 19:36] jdepoix commented on #62
Hi @joacosaralegui,
the standard YouTube API should be able to give you that information. I don't think that replicating functionality, which is already covered by other modules just for convenience is a good idea, nor is it necessary. I'd like to keep the scope of this module as it is, or at least only expand it if there's a feature which is not already covered by others.

[2020-06-26 19:36] #62 closed

[2020-07-11 14:25] ojoven opened #64 "Subtitles including a u' or u" in the response"
Hey,

First, I wanted to thank you for this library. It's awesome.

I'm seeing that the (at least the CLI version of the) library is returning a u' or u" before the text on many rows.
Example:

`youtube_transcript_api 73nZwUENB9E --languages fr --exclude-generated`

It returns:
[code]
Also, the text returned is not valid JSON (as it uses single quotes) but in both cases, well, I'm using some parsi

[2020-07-11 15:09] ojoven commented on #64
Closing this, sorry.
I realized that it was rendering a Python dictionary and that by adding --json as a parameter to the CLI command it would render a valid JSON (and no u' or similar). It was all in the docs.

Thanks!

[2020-07-11 15:09] #64 closed

[2020-07-18 08:37] SnoopiACK opened #65 "The video is no longer available WITH ANY VIDEO"
I had used youtube_transcript_api without problem a lot of time.
A couple days ago I upgraded my python to 3.8.  the library still worked for few hours but after that started to crash and don't work with any id_video.

the error show "The video is no longer available"  with any available video.

youtube-transcript-api             0.3.1

  File "<ipython-input-4-1a6984acc630>", line 1, in <module>

[2020-07-19 13:52] jdepoix commented on #65
I can not replicate this using python 3.8.1, so it doesn't seem to be a problem with the python version. So you get the same error for every video id you try?
Maybe try setting up a fresh virtualenv, install the module and see how that goes.

[2020-07-21 20:40] SnoopiACK commented on #65
I'm thinking that this is a "I'm not a robot" problem, I'll try using a proxy or something like that

[2020-07-22 00:12] bjbroder commented on #65
I'm having what I believe is the same issue - videos that I was able to get transcripts for yesterday, now no longer work ("The video is no longer available"). I haven't done any sort of updates in that time. Has a fix been found?

youtube-transcript-api version: 0.3.1
python version: 3.7.4

[2020-07-22 07:30] jdepoix commented on #65
In that case have a look at #60, there already is a discussion about YouTube rate limits. However, unfortunately there isn't really anything we can do about this.

[2020-07-22 07:30] #65 closed

[2020-07-24 14:52] free-burger opened #66 "Requests limits?"
Does this method has any limitations? I made a loop and after 250 requests it returns:

_VideoUnavailable:
Could not retrieve a transcript for the video https://www.youtube.com/watch?v=xxxxx! This is most likely caused by:

The video is no longer available

If you are sure that the described cause is not responsible for this error and that a transcript should be retrievable, please create an issue

[2020-07-24 16:20] jdepoix commented on #66
Many users have reported that they ran into rate limits. However, this doesn't seem to be consistent. In the past I have been able to loop over more than 10k YouTube videos and get their transcripts without running into any issues, while others report being limited after a few hundred videos like you.

Check out #60 so read more about it, but unfortunately there isn't anything we can do here.

[2020-07-24 16:20] #66 closed

[2020-08-01 15:15] CoolCold opened #67 "getting error for unavalable for language code for video, while list shows code is available"
I did start with the example provided (it actually is missing "import .." part), code:
[code]
and I got error:

[code]

What I don't understand is, the output
a) states cannot find EN or RU
b) lists EN and RU as available

one of this options is false or my hands are curved too much?

[code]

[2020-08-01 15:18] CoolCold opened #68 "documentation: missing "from youtube_transcript_api import YouTubeTranscriptApi" part"
in the docs ( https://pypi.org/project/youtube-transcript-api/ ), sample is missing important part of importing module
![image](https://user-images.githubusercontent.com/316482/89104595-9b80de00-d444-11ea-9fa0-b3fd311dd6ea.png)

it should contain:
`from youtube_transcript_api import YouTubeTranscriptApi`
as the first line

It doesn't matter for python devs, but for those who are making first steps

[2020-08-04 07:56] jdepoix commented on #67
The error is raised because you are calling find_manually_created_transcripts. As the error message shows, there are no manually created transcripts. The find_generated_transcript call will not fail, as a en transcript is available. ru is only listed as a translation language not as a transcript language. Please read the docs on this. So everything is working as it should be.

Regarding the import

[2020-08-04 09:54] CoolCold commented on #67
@jdepoix thanks for explanation, sorry for taking your time on this.

Regarding import: my expectations from the guides and samples that it will work when you follow it step by step, using exact code being run by author. Providing **example** which is known to fail from the beginning doesn't make sense to me.

Seeing something "Example, adjust it to your needs/proper python code" would dissolve an

[2020-08-08 05:01] amuuu opened #69 "Could not retrieve a transcript for the video although it exists."
Hi!
I get an error that says:
[code]
I checked with a couple other videos and they have captions, but I get the same error.

[2020-08-08 09:31] #67 closed

[2020-08-08 09:33] jdepoix commented on #69
Hi @amuuu,
So the error happens for every video you try? How many videos did you try to retrieve? Some users have reported running into rate limits. Check out #60 to read more on rate limits.

[2020-08-08 09:35] jdepoix opened #70 "Add Information about rate limits to docs and error messages"
Recently a quite a few Issues have been opened regarding rate limits. Since there isn't really anything we can do about that, this information should be added to the docs and error messages.

[2020-08-12 20:23] amuuu commented on #69
I guess it was a problem caused by YouTube API. I checked it again today, and it works perfectly. I think I was trying to get a large number of videos in a short time and the API blocked my IP or something. It's good to put some delay in between videos when getting the transcripts.

[2020-08-12 23:44] #69 closed

[2020-08-21 13:49] dazatar77 opened #71 "Suddenly unable to retrieve transcripts"
Hello :)

Thank you for such a brilliant script! I have been using it in the last 3 weeks for a fun project and all of a sudden just now it fails to return the transcripts from the channel I've been requesting them from. The video ids I've been using are still the same one I was using today to retrieve transcripts, I haven't changed my code, except now I keep getting the following:

"VideoUnavaila

[2020-08-21 14:39] #71 closed, assigned to nobody

[2020-08-25 14:09] bml1g12 opened #73 "Can it be used with private videos?"
Can this be used with private videos?

I tried the approach here https://github.com/jdepoix/youtube-transcript-api#cookies

And when providing the video id as a list got "The video is no longer available" and when providing the video id as a string got "Subtitles are disabled for this video". I can view the automatically generated transcript; so subtitles are enabled I think. I am the video author

[2020-08-25 15:22] jdepoix commented on #73
I have never tried this before to be honest, however I would expect it to work, using the cookie feature you mentioned.

I'll have to try this myself to replicate the error. I am quite busy atm, so it'll probably take me a while until I can take some time to dig deeper into this.
@danielcliu since you implemented the cookie feature: you got any ideas on this?

[2020-08-25 15:40] bml1g12 commented on #73
I see, thanks for any help with this! I noticed the official API allows downloads of captions of one's own data, so in case it useful to anyone else in the same situation you can use this: https://developers.google.com/youtube/v3/docs/captions/download

Albeit setting up the Google API OAuth etc. etc. is a real pain, took me many hours and haven't figured out how to use it without manual steps yet

[2020-08-27 17:54] dcliu95 commented on #73
I have been wrapped in a lot of other things due to the times and haven't been checking this repo as much as I should. I am a bit confused, have you tried with cookies yet? I would imagine it would recognize you as the videos owner if you had, but I haven't tested that. If you haven't I can test this later. Also if you are using python I could help you use the Youtube Data Api if you'd like, altho

[2020-08-27 17:59] danielcliu commented on #73
Uh I didn't realize i was in the wrong account. I have been wrapped in a lot of other things due to the times and haven't been checking this repo as much as I should. I am a bit confused, have you tried with cookies yet? I would imagine it would recognize you as the videos owner if you had, but I haven't tested that. If you haven't I can test this later. Also if you are using python I could help y

[2020-08-28 10:43] bml1g12 commented on #73
Yes I did try with the cookies approach and got the above error.

Thanks that's very kind to offer to help, I have a working script that uses the official Python API now, but one challenge I have is that it asks my to authorize my account every time I run it (to go to a URL and get a token) which is quite time consuming. I'm not familiar enough with Google cloud to know how to get it to remember t

[2020-08-30 00:49] danielcliu commented on #73
@bml1g12 I tried with cookies and was able to grab captions from a private video I owned.  So I would redownload your cookies try again with that and if it doesn 't let me know and we'll try to figure this out. What version of this library are you using? What python version?

In terms of your frustrations with the Youtube Data API, I believe to avoid OAuth2'ing every time I pickled my credentials

[2020-08-30 19:26] iercetin opened #74 "Could not retrieve a transcript for the video"
Could not retrieve a transcript for the video https://www.youtube.com/watch?v=98TQv5IAtY8! This is most likely caused by: The video is no longer available

It works on my local computer (Windows 10) but when I try to use it on Ubuntu 20.04(DigitalOcean Droplet) I get this error!
I assume the error is caused by sender I.P. address.

 I got a similar problem using youtube-dl on my droplet and when I

[2020-08-31 10:01] jdepoix commented on #73
@danielcliu thanks for taking the time to do the testing!

[2020-08-31 10:25] jdepoix commented on #74
Hi @iercetin
my first guess would've been, that you are running into some kind of rate limit because the IP address of your cloud machine is also used by others (see #60 for more on rate limits). However, the IPv6 thing is a really interesting clue!
As of right now, there's no functionality in this module to force IPv4 connections, but I could implement something like this if this turns out to be

[2020-08-31 10:42] jdepoix opened #75 "Make all classes extend object for better python 2 support"
As @crhowell pointed out in #63, none of the classes extend `object` as they usually should for python 2 support.

While this isn't a huge problem, this should be fixed in a future version.

[2020-09-01 17:18] iercetin commented on #74
Sure,

-- Windows 10 --

`ping youtube.com`

Pinging youtube.com [172.217.169.142] with 32 bytes of data:
Reply from 172.217.169.142: bytes=32 time=44ms TTL=115
Reply from 172.217.169.142: bytes=32 time=68ms TTL=115
Reply from 172.217.169.142: bytes=32 time=49ms TTL=115
Reply from 172.217.169.142: bytes=32 time=55ms TTL=115

Ping statistics for 172.217.169.142:
    Packets: Sent = 4, Received = 4,

[2020-09-02 08:28] jdepoix commented on #74
Thanks @iercetin
It definitely seems that your Ubuntu machine defaults to IPv6 when connecting to YouTube, which proves your point.
Could you try and get the video using curl on your Ubuntu machine, forcing it to use IPv4/6?
[code]

[2020-09-02 09:47] bml1g12 commented on #73
Thanks indeed!

[code]
Was my script; does that look correct? The "ti-O2Gk1DKo" came from the URL and the .txt file came from the README suggested browser extension from firefox.

I was using  Python 3.7.6 with `youtube-transcript-api==0.3.1`.

Ah pickling the credentials sounds like a good solution here; do you have a code snippet for that? (i.e. to serialize the credentials).

[2020-09-03 14:40] iercetin commented on #74
Sure,

` curl -L -4 "http://youtube.com/watch?v=98TQv5IAtY8"`

[https://github.com/iercetin/testtest/blob/master/4.html](url)

` curl -L -6 "http://youtube.com/watch?v=98TQv5IAtY8"`

[https://github.com/iercetin/testtest/blob/master/6.html](url)

[2020-09-05 14:32] jdepoix commented on #74
@iercetin mh, that's interesting. It in fact seems that the IPv6 requests returns a different response than the IPv4 response, which proves your point even further.
However, could it be that you maybe mixed up the `6.html` and `4.html` file names? Because from what I can tell `6.html` actually is the file which contains the information needed to extract the subtitles, while `4.html` doesn't. If th

[2020-09-06 15:25] sdtblck commented on #74
I'm having the same problem - works fine locally (OS X) but on my server (Ubuntu 18.04.4 LTS (Bionic Beaver)) I get the same error as @iercetin

[2020-09-06 18:01] jdepoix commented on #74
@sdtblck could you execute those commands and upload the results on your Ubuntu machine:
[code]

[2020-09-09 11:53] vslater opened #77 "Error every time I call YouTubeTranscriptApi.get_transcript"
This has been working normally for me but now every time I try to use this I get this error:

Traceback (most recent call last):
  File "test.py", line 3, in <module>
    val = YouTubeTranscriptApi.get_transcript('h-wfO6_eq-A')
  File "/Library/Python/3.7/site-packages/youtube_transcript_api/_api.py", line 128, in get_transcript
    return cls.list_transcripts(video_id, proxies, cookies).find_tran

[2020-09-09 14:14] jdepoix commented on #77
Hi @vslater,
is this independent of the video id you are trying to get a transcript for? If so, you might be running into rate limits (see #60 for more information on that).

Could you please try it again and if it still fails execute the following and upload the results somewhere so that I can have a look at it:
[code]

[2020-09-09 15:40] zzm88 opened #78 "The request cannot be completed because you have exceeded your quota"
'The request cannot be completed because you have exceeded your <a href="/youtube/v3/getting-started#quota">quota</a>.'

How can I change the api key with my onw api key? So that I can solve this quota limitation?

[2020-09-09 15:49] jdepoix commented on #78
@zzm88, since this module uses an unofficial part of YouTubes API (which is used by the YouTube Web App), there's no way of using this with your YouTubeAPI API key. Therefore, there unfortunately is no way of getting around the quotation limit, other than changing your IP address (see #60 for more on this).

However, I'd be interested to hear where you got the error message from you posted. Person

[2020-09-09 16:16] zzm88 commented on #78
I got this when I tried to get subtitles from a bunch of video_ids (like hundreds).

This is the last part of the error msg I got.

Where can I change my ip address? I could not find where the exact place to call the youtube api url.

[2020-09-09 16:19] jdepoix commented on #78
I think you might be in the wrong GitHub project 😄
This is not the official YouTube API client! (which is what you are using, wrong what I can tell)

[2020-09-09 16:19] #78 closed

[2020-09-21 00:17] danielcliu commented on #73
@bml1g12 Sorry for such a long wait

I'm not sure why you're having difficulties. I am running python `3.6.9` and `youtube-transcript-api==0.3.1` and I was able to get it to reach a private vid. I'm not sure how to manage python versions and there are packages I need to run in 3.6, but I doubt its the python version number that is causing the error. I have to ask because of the name, the file `pet

[2020-09-21 00:21] danielcliu commented on #73
@bml1g12 As for the pickling, I'm not sure off top honestly cause its been a while but I think I pickled the flow like in the example docs when you `flow = google_auth_oauthlib.flow.InstalledAppFlow.from_client_secrets_file(client_secrets_file, scopes)` I would pickle the flow object into a file and then load it on subsequent runs if that file wasn't empty.

[2020-09-23 16:45] iblind opened #79 "Is youtube-transcript-api blocked from working on AWS EC2 servers?"
I've tried to run this script from 2 different accounts, with multiple instances in dif. zones, but I'm not having any luck. Is this something that other folks are experiencing?

[2020-09-24 08:18] jdepoix commented on #79
Hi @iblind, unfortunately I don't have any hands on experience with this. But there's two things that come to my mind, however both are just speculations:
1. Multiple users have reported running into rate limits (see #60). I could imagine that requests coming from different EC2 instances are treated as coming from the same client by YouTube and therefore they share the same rate limit. So you migh

[2020-09-24 08:19] jdepoix commented on #74
@iercetin @sdtblck any news on this?

[2020-09-25 17:40] iblind commented on #79
Thanks @jdepoix!  The EC2 rate-limitting seems like such a heavy-handed policy, but I guess it makes sense — I'm sure youtube doesn't really care about the fact that those are all potentially distinct users coming from the same origin.

2. I'll take a look at #74 and see if I can dig anything up; I'll keep this thread posted re: updates!

[2020-09-27 05:43] bml1g12 commented on #73
Yes its a file from the firefox plugin cookies.txt with the first few lines like the  below (... representing more text I have omitted):
[code]

Tried
[code]
With
youtube-transcript-api==0.3.1
Python 3.7.6

And I get

[code]

Regardless, I will close this ticket as I have found another couple of ways to get transcript.

In case it is of interest to others how I did this:

The first way I tried was

[2020-09-27 05:43] #73 closed

[2020-09-28 10:24] ojoven opened #80 "CLI not working for video ids starting with hyphen"
Hi, first thanks so much for this project, it's awesome!

I wanted to share a concern, I'm trying to retrieve the captions from this video with ID "-tiUDjn7-as" and I can't cause the hyphen in the start conflicts with the CLI parameters formatting:
[code]

I thought that using quotes around the ID would work but still:
[code]

Is there anything I may be missing?
I'm afraid I'm not very experienced

[2020-09-28 11:14] jdepoix commented on #80
Hi @ojoven,
thanks for reporting this. I never thought about this.

Unfortunately I am very busy right now and won't be able to fix this in the coming weeks, but I would appreciate you stepping in very much! You can find the CLI code under `youtube_transcript_api/_cli.py`. The arguments are parsed using [pythons argparse module](https://docs.python.org/3/library/argparse.html) and the argument you

[2020-09-28 17:20] ojoven commented on #80
Hey, thanks so much for the detailed response. I'll try to fix this on my end and if I find a solution that can be shared I'll create a PR and add a new message to this thread, thanks.

[2020-09-28 17:37] jdepoix commented on #80
Actually, I'll keep this issue open, as it is a bug which definitely should be fixed at some point.

[2020-09-30 03:21] adongu commented on #74
Hi @jdepoix, I'm using this on GCP cloud functions and I think I'm facing similar issue.  Would I have to route all the egress traffic through a IPV4 VPC network with static IP to test if would help with the rate limiting on the shared machine?

[2020-09-30 04:33] adongu commented on #74
I was able to get the API to work again on GCP Cloud functions now with a static IP following a GCP guide! https://dev.to/alvardev/gcp-cloud-functions-with-a-static-ip-3fe9

[2020-09-30 12:33] jdepoix commented on #74
Hi @adongu,
that's great news, thanks for sharing! So the static IP is IPv4 I guess? I am not sure whether the solution is the IP being static or it being IPv4 instead of IPv6. Is there any way for you to find out whether your requests will now default to IPv4 instead of IPv6?

[2020-09-30 14:35] adongu commented on #74
Hey @jdepoix I did some digging and found this tidbit the documentations for Google VPC networks.  https://cloud.google.com/vpc/docs/vpc#specifications

"VPC networks only support IPv4 unicast traffic. They do not support broadcast, multicast, or IPv6 traffic within the network; VMs in the VPC network can only send to IPv4 destinations and only receive traffic from IPv4 sources. However, it is pos

[2020-09-30 15:32] jdepoix commented on #74
So if I am understanding this correctly, you were probably doing IPv6 requests before setting up the VPC, while now you're doing IPv4 requests. Which would further support the assumption that this module can fail when sending IPv6 requests to YouTube. Thank you for sharing!

I guess my best bet would be to implement something which forces this module to use IPv4. I'll look into that when I have so

[2020-09-30 15:33] jdepoix commented on #77
Any news on this @vslater? Otherwise I will close this issue.

[2020-09-30 15:41] adongu commented on #74
Hey @jdepoix , apologies if I was being vague.  I'm not actually sure if it was serving via IPV6 before since I didn't have any global LB set up as it was a light project.  I think my issue might be related to https://github.com/jdepoix/youtube-transcript-api/issues/60 instead of this.  Apologies for spinning your wheel.

[2020-09-30 16:34] jdepoix commented on #74
Thanks for clarifying @adongu.
I guess, we will need further proof before forcing this module to use IPv4...

[2020-10-04 21:12] talesmm14 opened #81 "Is it possible to remove subtitles from videos on google drive?"
When uploading a video to the google drive, we noticed that the video is very similar to the youtube video, with the same subtitle generator. Can I get these subtitles through this API?

[2020-10-04 22:23] jdepoix commented on #81
You will only be able to retrieve subtitles for videos which have a YouTube ID.

[2020-10-04 22:23] #81 closed

[2020-10-06 18:39] iblind opened #82 "Possible to provide other request info to the YouTubeTranscriptApi.get_transcript() method?"
In trying to debug #79, I began to wonder if it's possible that certain header data may be being transmitted with the call.

I then started wondering if it's possible to change certain aspects of the header, since I think I may have read in another issue thread that the `get_transcript()` call is a wrapper for the `requests.get()` — is that the case?

So in this case, would it be possible to work

[2020-10-07 07:52] jdepoix commented on #82
Yes, `get_transcript()` uses the requests module. However, those options you asked about are not accessible via the public API, as they are not needed in "normal usage". Just to be clear, you just need this for debugging, not for normal usage of this module, right?
For debugging you are probably best of to just clone this repository and modify it where needed, if you want to mess around with diffe

[2020-10-07 21:12] crhowell opened #83 "UnicodeDecodeError when running unittests on Windows (cp1252)"
Attempting to run unittests or coverage with the following command from a **Windows** machine:
`coverage run -m unittest discover`

Results in :
[code]

This is likely due to `test/test_api.py` attempting to open a file on [Lines 23-25](https://github.com/jdepoix/youtube-transcript-api/blob/master/youtube_transcript_api/test/test_api.py#L23-L25) without specifying an explicit encoding allowing the

[2020-10-08 07:54] jdepoix commented on #83
Hi @crhowell, hope you're doing well! To be honest, I never ran this on windows or have really considered its implications. Thanks for reporting!

[2020-10-09 07:46] jdepoix commented on #83
Fix merged in #84. Thanks to @crhowell!

[2020-10-09 07:46] #83 closed

[2020-10-18 16:59] iamprayush opened #85 "The get_transcript method is not working in production."
I'm using the `get_transcript` method in my Django app that I've deployed using [pythonanywhere](pythonanywhere.com/), but the method is raising the `VideoUnavailable` error, even though the same script is working fine locally.

[2020-10-18 20:41] Fidelalencar opened #86 "How to get captions with punctuation?"
The code as it currently is, cleans the punctuation from the original subtitles.
I need them with punctuation, how can I do that ?
I'm new at programming and couldn't find where the code is removing the punctuation.
I would appreciate some help.

[2020-10-19 05:05] danielcliu commented on #85
I am not offhand sure what is going wrong for you, but it seems like it may be related to #60. Basically Youtube may be rate limiting pythonanywhere's IPs.

[2020-10-19 08:01] jdepoix commented on #86
Hi @Fidelalencar,
the code does not remove any punctuations. There simply are no punctuations in the subtitles generated by YouTube.

[2020-10-19 08:01] #86 closed

[2020-10-19 10:25] iamprayush commented on #85
I see, I guess I'll have to choose a different hosting platform. Thanks, @danielcliu!

[2020-10-19 10:25] #85 closed

[2020-10-19 14:05] Fidelalencar commented on #86
Ok, I got the point, your notes states :
"By default this module always picks manually created transcripts over automatically created ones,"
But for some reason, the transcript being downloaded for the videos I tried were not the manually created.
For example, for this 2 videos, it downloads the "en", not the "en-GB" (which is the manually created):
a = YouTubeTranscriptApi.get_transcript("8gtSNjn

[2020-10-19 14:14] jdepoix commented on #86
That's because the default language is `en` not `en-GB`. Those are two different language codes. If there was a manually created `en` transcript, you'd get that one.

[2020-10-19 14:16] #77 closed

[2020-10-20 04:51] danielcliu opened #87 "Migrate to Travis-ci.com"
https://devops.stackexchange.com/questions/1201/whats-the-difference-between-travis-ci-org-and-travis-ci-com

Via this, it seems like travis-ci.org will be deprecated on December 31, 2020. So this probably needs to be migrated sooner or later to travis-ci.com

[2020-10-20 09:09] jdepoix commented on #87
Hi @danielcliu,
thanks for pointing this out! I took care of this in #88.

[2020-10-20 09:09] #87 closed

[2020-10-20 20:16] hugotiburtino commented on #86
Actually, that seems to be a nice improvement, since someone interested on en would prefer to have manual transcription in en-GB than an automatic one in en.

[2020-10-21 08:24] jdepoix commented on #86
But it could also lead to a lot of bugs because you might not get the specific language you asked for. Also this would require the module to check if the given language code is a substring of any of the available ones. So any language code which has the substring `en` could potentially match. Since there is no complete list of all available codes, the code could be anything, which means that I can

[2020-11-05 16:05] panliu87 opened #89 "Error: The video is no longer available"
Hi, I am using the API to download transcript of videos and it works well. But when I use it today, it keeps saying "The video is no longer available". But I am sure the video is there and it has transcript.

Some video IDs are: XYNsWqnocl8, MLw_lq03eww, G_uiYrhbwbQ, Eq3zPFnxNwI, etc.

Any suggestions on how to fix this?

[2020-11-06 08:57] jdepoix commented on #89
Hi @panliu87,
if you are running into problems were you suddenly are not able retrieve videos which you were able to retrieve before on the same machine (or which should be available), you are most likely running into rate limits. Have a look at #60 to read more about this.
Is the machine which is doing the requests hosted on any cloud platform?

[2020-11-06 15:17] jdepoix commented on #89
@panliu87 you might be able to help me to help you by executing the following and uploading the results (Doesn't have to be done with curl, I just need to see what the request to YouTube returns):
[code]
Please make sure the requests is still failing while using this module before executing the request manually.

[2020-11-12 00:08] popeldd opened #90 "TranscriptsDisabled on all videos that contain captions."
So, I just started using this and for some reason, I cannot find subtitles in any video that contains them. I do not know if you will be able to replicate this issue, but I will help as much as I can. I will continue reading through previously reported issues to see if anyone else has received it before. Thank you for your time!

Also, when I curl the link, I cannot find any transcriptions. (I tri

[2020-11-12 08:33] jdepoix commented on #90
Hi @popeldd,
you changed the ID of the video you initially posted this issue for, are you sure you are still getting the same error with the video you changed it to?
Because the video you used initially (sOnqjkJTMaA) does have transcripts disabled, just like the error message says. However, the ID you are using now (U7Xtmayoly8) works for me without any problems and shouldn't get this error messag

[2020-11-13 10:04] jdepoix commented on #89
Hi @panliu87, any news on this?

[2020-11-20 12:59] cramdoulfa commented on #74
I also have the same problem on AWS EC2.

To add my context, the requests initially worked fined on AWS. After a few thousands requests (at about 1 / sec), I started getting `VideoUnavailable` error and now I'm still getting those error 3 days after, even for a single request.

`curl -L -4` is working fine though (returns the html), and `curl -L -6` returns `curl: (7) Couldn't connect to server`

[2020-11-20 13:05] jdepoix commented on #74
Hi @cramdoulfa,

Thanks for the information. Could you upload the HTML which is returned by calling `curl -L -4` from the EC2 instance, so I can have a look at what is being returned?

[2020-11-20 13:09] jdepoix commented on #90
Any news on this @popeldd? Otherwise I will close this issue.

[2020-11-20 13:09] jdepoix commented on #89
Closed due to inactivity.

[2020-11-20 13:09] #89 closed

[2020-11-20 13:11] #82 closed

[2020-11-23 10:56] cramdoulfa commented on #74
[curl_L4_return.txt](https://github.com/jdepoix/youtube-transcript-api/files/5582385/curl_L4_return.txt)

Here it is @jdepoix for `curl -L -4 "http://youtube.com/watch?v=98TQv5IAtY8"`

[2020-11-23 11:13] jdepoix commented on #74
Thanks for the additional information @cramdoulfa!

This seems a bit odd though, as the information which is required for this module is actually being returned by your request. Are you sure that the module was still failing, while trying to retrieve this video, as you did the requests? Maybe there were some rate limits which did reset. Did you check this, before executing the curl request?

[2020-11-23 12:06] cramdoulfa commented on #74
Hum very good point, the package is actually working again now! I will start a batch of query and update if it starts blocking again.
It's probably a matter of quota or rate limit.

[2020-11-27 17:17] jacksonw765 commented on #74
I had this issue also myself. It's due to youtube blocking your IP. I switched on a VPN and everything worked as expected.

[2020-11-30 07:56] jdepoix commented on #74
@jacksonw765 yeah, that's what I was guessing. It would be great though, if I could se what HTML YouTube returns after they blocked you, so that I can add a proper error message to this module.

[2020-11-30 07:56] #90 closed

[2020-12-03 16:04] cramdoulfa commented on #74
@jdepoix  here is a sample HTML page for a video with available transcripts when the API seems to be blocked:
[curl_result_blocked_transcript_API.txt](https://github.com/jdepoix/youtube-transcript-api/files/5637281/curl_result_blocked_transcript_API.txt)

[2020-12-03 16:10] cramdoulfa commented on #74
Slight sidetrack but I'm curious @jacksonw765 do you use a commercial VPN or did you configure one yourself with openVPN?
I could not find a nice VPN client for Linux AMI

[2020-12-03 17:02] jdepoix commented on #74
@cramdoulfa huh, that seems really odd. Once again the HTML seems to contain all the information needed by this module to retrieve the transcripts. The exception you got was a `VideoUnavailable`?

[2020-12-03 17:16] cramdoulfa commented on #74
Ups sorry for the false call - it seems that the API had indeed been de-blocked in the meantime!

Thanks for the code snippet, I will verify next time it happens and notify you if I find an HTML for which `_extract_captions_json` fails

[2020-12-03 17:24] jdepoix commented on #74
@cramdoulfa no worries, thanks for putting in the time trying to resolve this! 😊👍

[2020-12-03 20:22] jacksonw765 commented on #74
I use PIA

[2020-12-04 12:00] cramdoulfa commented on #74
Ok I think this is the right one this time. The page actually says '_We have been receiving large amounts of requests from your nework._'

[curl_result_blocked_transcript_API.txt](https://github.com/jdepoix/youtube-transcript-api/files/5642547/curl_result_blocked_transcript_API.txt)

[2020-12-04 12:01] cramdoulfa commented on #74
Ok I think this is the right one this time. The page actually says 'We have been receiving large amounts of requests from your nework.'

[curl_result_video_unavailable.txt](https://github.com/jdepoix/youtube-transcript-api/files/5642556/curl_result_video_unavailable.txt)

[2020-12-04 12:33] jdepoix commented on #74
Perfect, that's exactly what I was looking for @cramdoulfa! Thank you very much! 👍
I will add a custom error for this suggesting the user to wait for the rate limit to reset, or use a VPN/change IP. I am quite busy right now, as I am in the last weeks of writing my master thesis, so I probably won't be doing any coding on this module for a few weeks, but I'll try to get that done as soon as I can.

[2020-12-04 12:36] jdepoix commented on #74
Also, could you make any guesses on how long the rate limit persists until it is reseted, or was it inconsistent for you @cramdoulfa ?

[2020-12-04 13:00] cramdoulfa commented on #74
Great!
I have been making requests every 1.5 second. Not sure how consistent it is, but it started blocking after about 15,000 videos this time. I will try to monitor how long it takes before it resets.

[2020-12-04 13:05] cramdoulfa commented on #74
`curl -L -6 "http://youtube.com/watch?v=0vAfIcmpqzQ"` returns `curl: (7) Couldn't connect to server` for me

Good luck with the thesis!

[2020-12-06 07:31] SumanMarahatha7 opened #91 "Youtube transcript cannot be fetched using youtube transcript API 0.3.1 python"
It prompts following error:
![Screenshot (58)](https://user-images.githubusercontent.com/50476717/101274325-3b6cc080-37c5-11eb-98da-d1f6b6339e91.png)

VideoUnavailable at /search/
Could not retrieve a transcript for the video https://www.youtube.com/watch?v=TBYIki-pMNI! This is most likely caused by:

The video is no longer available

If you are sure that the described cause is not responsible for

[2020-12-06 07:44] jdepoix commented on #91
Retrieving the transcript for TBYIki-pMNI works for me. DId you happen to execute many requests at once, or in a short period of time? If so you might be running into rate limits, see #60 and #74 for more on this.
Is this happening for all videos you are trying to get a transcript for or only TBYIki-pMNI?

[2020-12-09 04:13] wsebastiangroves commented on #4
Hello,

Thanks for the functions. I'm coming across the following error shortly after getting started:

"TranscriptsDisabled:
Could not retrieve a transcript for the video https://www.youtube.com/watch?v=k! This is most likely caused by:

Subtitles are disabled for this video..."

Which is from using this bit of code:
from youtube_transcript_api import YouTubeTranscriptApi
YouTubeTranscriptApi.get

[2020-12-09 07:35] jdepoix commented on #4
Hello @wsebastiangroves,
if you're using `get_transcripts` you'll have to put in a list of IDs. If you just want the transcript for one video either put in a list with one ID, or just use `get_transcript` instead, which only takes one ID.

[2020-12-09 19:54] wsebastiangroves commented on #4
This made me have a good laugh at myself. Thank you, I sincerely appreciate these functions.

[2020-12-12 01:05] lululy opened #92 "No module named 'youtube_transcript_api'"
I am trying to run youtube_transcript_api in Jupyter. However, I keep getting an error showing
[code]
I have installed it using
[code]
I also checked the file is under the python folder--site-packages on my laptop. So it seems like the module has been installed.
I'm still new to python, so maybe it's a stupid question. Appreciate if any help! Thank you!

[2020-12-12 05:35] xq8ed commented on #90
Is there any option for downloading auto-generated subs?

[2020-12-12 07:57] jdepoix commented on #90
@xq8ed Yes, there is. Please read [the docs on this](https://github.com/jdepoix/youtube-transcript-api#list-available-transcripts).

[2020-12-12 08:07] jdepoix commented on #92
Hi @lululy,
can you use other module inside the notebook, which you have installed using pip?
This doesn't look like a problem with this module, but with your Jupyter setup, therefore I'll close this issue.
It's hard to say what the exact problem is without knowing your setup, so a few hints that come to mind:
* Are you using a virtualenv? If so, is jupyter running in the same env you install this

[2020-12-12 08:07] #92 closed

[2020-12-12 11:34] xq8ed commented on #90
@jdepoix  Is CLI mode supposed to download auto-generated subs? I don't see any option for that in docs.
I am using it in CLI and whenever i try to run it, it gives this :
`Could not retrieve a transcript for the video https://www.youtube.com/watch?v=18c3MTX0PK0! This is most likely caused by:

Subtitles are disabled for this video`
but on youtube there are auto-generated subs for this video.

[2020-12-12 17:21] xq8ed commented on #90
@jdepoix forgive me for my laziness I didn't use --language option

[2020-12-17 08:10] jdepoix commented on #91
Any news on this @SumanMarahatha7? Otherwise I will close this issue.

[2020-12-27 18:06] jdepoix commented on #91
Closed due to inactivity

[2020-12-27 18:06] #91 closed

[2021-01-05 23:53] iblind commented on #79
Hi @jdepoix,

sorry for the lateness, I hadn't received the notification (only noticed it in the new github ui)! Any GCP- or EC2-based requests I've made ended up being blanket-rejected, so unfortunately all the work I did had to be performed locally. I didn't have any luck on #74, with no differences between IPv4 and IPv6 in terms of allowed requests.

[2021-01-06 08:10] jdepoix commented on #79
Thanks for the response @iblind.
That seems really odd, so any curl to YouTube will be blocked? What status code/response do you get? And can you ping YouTube from the GCP/EC2 instance?

[2021-01-21 18:50] kovan commented on #70
I added a more descriptive message for this case, see pull request #94

[2021-01-25 15:13] jdepoix commented on #70
Thanks to @kovan's PR this is no longer needed.

[2021-01-25 15:13] #70 closed

[2021-01-25 15:14] jdepoix commented on #79
any news on this @iblind?

[2021-01-26 15:12] CamilleSchr opened #96 "Information ASR functioning"
Hello,
Thank you for your work, it works pretty well ! :)

I just have a technical question on how the automatic speech recognition works on this Youtube transcript api, is it using an acoustic and language model ? Is BERT the language model use for it ?
I searched for documentation but I didn't find anything, if you have papers, I'm interested.

Thanks !
Camille

[2021-01-26 16:08] jdepoix commented on #96
Hi @CamilleSchr,
this module just retrieves the subtitles which have automatically been generated by YouTube. I don't think that information on how YouTube generates those is publicly available.

[2021-01-26 16:08] #96 closed

[2021-01-29 04:43] phoebe-lin commented on #21
Can I ask a dump question. Are start and duration in the same unit (i.e., second)?

[2021-01-29 04:46] phoebe-lin commented on #21
@jdepoix Can I ask a dump question. Are start and duration in the same unit (i.e., second)?

[2021-01-29 07:38] jdepoix commented on #21
@phoebe-lin yes, both are in seconds

[2021-01-29 17:22] Dragonum314 opened #97 "Same error on every video id since yesterday: VideoUnavailable"
Hi, thanks for the great API!

Since yesterday I get the same error for every call I make to the API.
With any youtube video ID i get

[code]

Steps to reproduce:
[code]

I'm on Catalina 10.5.5, python 3.8.5, youtube-transcript-api 0.3.1

Thanks again for the work

[2021-01-29 17:44] jdepoix commented on #97
Hi @Dragonum314, you are most likely being rate limited by YouTube. There unfortunately is not much we can do here. check out #60 if you want to read more on this.
However, @kovan has just submitted the PR #94 which adds an error message specific to this case. So in future version you'll at least know that this is what's happening.

[2021-01-29 17:44] #97 closed

[2021-02-24 18:10] frisch1 opened #98 "Live Stream transcripts"
Hello. This is a feature request vs bug, methinks.

Have you looked at extracting captions from a live stream. If you look at any example (https://www.youtube.com/whitehouse) of a live stream, while the stream is live (key), there are auto-generated subtitles delivered in the videoplayback file that streams in, embedded e.g.

`https://r6---sn-8xgp1vo-p5qy.googlevideo.com/videoplayback?expire=16142

[2021-02-25 09:26] jdepoix commented on #98
Hi @frisch1, I would definitely say that this is a feature request and not a bug. Sounds interesting, but I don't see myself implementing this anytime soon, as this module is mostly used for data-science purposes and I don't really see the use-case for livestreams. However, if you want to contribute this feature I'd be happy to merge it. Deserializing the response probably isn't a big deal, you ju

[2021-03-02 18:52] nguyen-d4y opened #99 "I want another kinds of sub"
I need the function changing from this language to another languages.
Example: from en to vi
Love,
Duy.

[2021-03-02 23:22] crhowell commented on #99
@nguyen-d4y You will want to be more descriptive about what the issue is if you submit an issue. Include details like which function you are using, what you are trying to do in your code that is broken. 🙂

If you cant retrieve a transcript in a given language. You can try using `.translate()` to translate from a language like EN to VI. This is covered in the [Readme](https://github.com/jdepoix/you

[2021-03-05 17:21] crhowell commented on #80
Hey yall, I took some time this morning to have a look at this issue. From what I can tell it seems the call to `argparse.parse_args()` is the one complaining because it immediately identifies any arguments (video_ids arguments) with a leading `-` as an option instead of an argument. Which is why it thinks you passed no arguments at all for your example use-case above.

This makes for an interesti

[2021-03-10 16:56] heaversm opened #102 "How to replace all unicode characters from the translation with their latin equivalents"
Hi - I am fetching translation for a transcript:

`transcript.translate(args.lang).fetch()`

and then going through that array and appending it to a string:

[code]

But what I get is a string containing unicode characters:

`F\u00fcr einige Benutzer ist die`

How would I go about constructing this such that all unicode characters are rendered as their latin equivalents, i.e.

`Für einige Benutzer

[2021-03-11 04:41] nguyen-d4y commented on #99
Thank you for so quick reflection!

[2021-03-11 04:41] #99 closed

[2021-03-15 09:39] #75 closed

[2021-03-15 17:04] #57 closed

[2021-03-15 18:20] #68 closed

[2021-03-17 16:03] GiorgioBarnabo opened #104 "Idea for improvement"
Hi there,

thank you for this amazing project! It is definitely very helpful ;)
Here's a little advice for improvement.
When calling the YouTubeTranscriptApi.get_transcript function,
it would be cool if the search considered automatically generated
and automatically translated transcripts.
For example, given a language, it would be great if the function returned:
- a manually created transcript wh

[2021-03-17 17:17] jdepoix commented on #104
Hi @GiorgioBarnabo,
that actually is exactly what `get_transcript` does except for the translation part. I do not think it should automatically translate without the user asking for it. You could however easily implement this using `list_transcripts` if that behaviour is desired in your usecase.

[2021-03-17 17:17] #104 closed

[2021-03-22 18:29] jdepoix commented on #80
Fixed and released in `v0.4.0`! Thanks @crhowell!

[2021-03-22 18:29] #80 closed

[2021-03-22 18:30] jdepoix commented on #23
Support for WebVVT has been added in `v0.4.0`. Thanks to @crhowell! 🥳

[2021-03-22 18:30] #23 closed

[2021-03-22 19:55] crhowell commented on #23
It is a very simple implementation to WebVTT. WebVTT has a bit more depth to its specification, but it is a starting point if anyone wants to add to it in the future. 😄

[2021-03-23 08:10] jdepoix commented on #74
In `v0.4.0` the Exception `TooManyRequests` has been added which is raised when running into rate limits. This could be used to further investigate the issue. My guess with the IPv4 vs. IPv6 thing @iercetin mentioned is that the IPv6 has been blocked due to extensive usage, while IPv4 still works as it hasn't been blocked yet.

As this issue is kinda all over the place now with different things be

[2021-03-23 08:10] #74 closed

[2021-03-23 08:14] jdepoix commented on #79
@iblind in `v0.4.0` the Exception `TooManyRequests` has been introduced which is raised when running into rate limits. This could be used to figure out if you are just running into rate limits or if there is another problem at hand. Would be great if you could try this out and provide some feedback! 😊

[2021-03-28 21:03] irux opened #106 "[Question] word precision"
Hello, when you watch a video and put the autogenerated subtitles, it seems like the video and the subtitles are perfectly synchronized. It gives the impresion that they have the exactly timestamp precision when a word is going to be spoken. Is it posible to get this precision ?

Thank you

[2021-03-29 06:57] jdepoix commented on #106
Hi @irux, getting the timestamps per word is currently not supported and the endpoint we are currently using does not provide this information. However, there probably is some way to access that information (since it is used by the YouTube web-client) I don't know about yet.
So If anyone wants to look into how that works I would be happy to merge such a feature, I am a bit short on time currently

[2021-03-29 10:18] irux commented on #106
@jdepoix my use case is for a video editing tool. I am doing ASR at the moment with AWS, but with this feature I would be able to avoid more api calls to other services and it would be free.

Btw, I already found the endpoint. I will need to test more things but I think I would be able to make a pull request in the following days.

[2021-03-29 11:32] jdepoix commented on #106
Nice! 👍
Let me know if you need any help on integrating this feature. Maybe you wanna share some details on how you plan to implement it once you have the endpoint figured out, so we could discuss what's the best way to integrate it into the existing API. Having that discussion beforehand could save some time in the PR and avoid having to do more iterations than needed! 😊

[2021-03-29 11:47] irux commented on #106
It is actually quite simple. You only need to append `&fmt=json3` at the end of the track link. What I don't know is how it behaves with not ASR subtitles. The idea would be to have the same response like at the moment but with more precision. [https://www.youtube.com/api/timedtext?v=QVXtNkzeKUU&asr_langs=de,en,es,fr,it,ja,ko,nl,pt,ru&caps=asr&exp=xftt&xorp=true&xoaf=5&hl=es-419&ip=0.0.0.0&ipbits=

[2021-03-29 11:55] irux commented on #106
@jdepoix I am seeing that it behaves like it should be. It actually would spare some work because the format is already in json and you don't need to convert it from xml

[2021-03-29 12:28] jdepoix commented on #106
Sweet, that looks great! I agree that this could replace the xml request and the parsing which goes along with using that.
However, implementing this will unfortunately not be as simple as it may seem. We can't just change the format of what `get_transcript` returns as this is a massively breaking change.
We could introduce a new param like `timestamp_mode` to the `Transcript.fetch()` method, whic

[2021-03-29 12:50] jdepoix commented on #106
We would probably also have to rename a few classes for the naming to make sense in that case:
[code]
This would "give room" for a new `Transcript` object representing a fetched transcript.
I am open on suggestions on the naming, not quite satisfied yet 😄

[2021-03-29 12:55] jdepoix commented on #106
@irux you'll also have to test this very extensively, as changing this could potentially completely break this module.
Looking at the json returned by the endpoint a few questions come to mind, as the structure doesn't seem to be consistent.
- is the content of the transcript always in `"utf8"` or are there different encodings available?
- any ideas on what `"acAsrConf"` is?
- there are dicts cont

[2021-03-29 18:45] irux commented on #106
I was doing some research and I found a new thing that can help you with the webttv format problem.

if you use fmt=vtt you are going to get it as vtt

[2021-03-30 01:06] crhowell commented on #106
@jdepoix  I haven't fully dug into everything yall said yet but tinkering with that URL provided above (**No longer working**). This seems to be some kind of undocumented API that does require us to explore options to see what does/doesn't work. Looks like there are some StackOverflow posts of folks talking about this undocumented API. It actually looks like it does quite a bit of work for us.

Tw

[2021-03-30 07:16] jdepoix commented on #106
@crhowell it's normal that the link expires after a certain time, that and the concerns you raised about it being undocumented is also true about the endpoint we are currently using. In fact, it is the same endpoint only with the addition of the `fmt=json3` param. So I would assume this would make the module just as reliable/unreliable as it currently is.

The problem with the simple `timtedtext`

[2021-03-30 15:58] LoyalPotato opened #107 "Can't get translated transcription of video"
As the title says.
I am using the example provided in the README file, in the translate section.
The video id is -> "Fx_N4GlwdEM" in case you want to try it.

I saw that previously this was an issue ( #30 ) hence why I'm creating a similar issue.

![image](https://user-images.githubusercontent.com/10759876/113018614-a11bf880-9178-11eb-99c8-9a6d9b707935.png)

[2021-03-30 16:05] jdepoix commented on #107
Could you please provide the code you are trying to execute?

[2021-03-30 16:28] LoyalPotato commented on #107
[code]

[2021-03-30 16:34] LoyalPotato commented on #107
Here I was able to get both (error & working) in sequence:
![image](https://user-images.githubusercontent.com/10759876/113023955-1c33dd80-917e-11eb-8e77-bab633384ae8.png)

[2021-03-30 16:42] jdepoix commented on #107
What version of python and youtube-transcript-api are you using respectively?

[2021-03-30 16:55] LoyalPotato commented on #107
Python: 3.9.2
API: Lastest (0.4.0)

[2021-03-31 12:35] jdepoix commented on #107
After not being able to replicate it for a while I discovered that YouTube sometimes returns a page which asks the user to agree to it saving cookies. This is new and happens every now and then. I will have to integrate logic into this module to handle these kind of responses. I will try to fix it as soon as I can and let you know!

[2021-03-31 13:06] LoyalPotato commented on #107
Got it, makes sense.
Btw, unrelated, but where can I ask questions about your implementation? Not exactly problems.
Also thanks for looking into it :)

[2021-03-31 14:10] jdepoix commented on #107
Fixed in 0.4.1! Thanks for reporting @LoyalPotato! 😊 👍

[2021-03-31 14:10] #107 closed

[2021-04-02 16:25] crhowell commented on #106
@jdepoix Thanks for touching on that. I think I totally made an assumption there based off what I was seeing when trying to follow the logic in the code. After directly inspecting a `Transcript` object's `_url` attribute I see that you are already in-fact hitting that `timedtext` route, so this is not a new find.

I guess some assumption that `WATCH_URL = 'https://www.youtube.com/watch?v={video_id

[2021-04-02 16:59] crhowell commented on #106
@jdepoix To adapt the `formatters`, seeing `formatters` as still a "post-processing" feature of a Transcript my immediate thought is exactly what you previously stated.

We would probably want to pass a Transcript object and assuming the Transcript objects remain about the same as they are now, we could maybe have the formatter alter the `_url` prior to the fetch. Then that formatter can make assu

[2021-04-05 14:52] jdepoix commented on #79
I will close this now due to the lack of responses. If anyone has any news on this just post it here and I might open the ticket again if it seems relevant.

[2021-04-05 14:52] #79 closed

[2021-04-14 12:43] shwetankshot12 opened #110 "Subtitles are disabled for this video"
youtube_transcript_api._errors.TranscriptsDisabled:
Could not retrieve a transcript for the video https://www.youtube.com/watch?v=Eto_2_VKJRI! This is most likely caused by:

Subtitles are disabled for this video

If you are sure that the described cause is not responsible for this error and that a transcript should be retrievable, please create an issue at
https://github.com/jdepoix/youtube-trans

[2021-04-14 13:12] jdepoix commented on #110
As the error message correctly indicates, subtitles are disabled for this video. If the uploader disables subtitles for his video there's nothing you can do about this.

[2021-04-14 13:12] #110 closed

[2021-04-14 14:26] shwetankshot12 commented on #110
but the option of open transcript option is available on youtube..under the same youtube video..so how sbtitles r disabled for the video

[2021-04-14 14:43] jdepoix commented on #110
But what happens when you press that button? For me it just opens the transcript window and a spinner loads forever without a transcript ever appearing. I don't know why YouTube shows this under options even though transcripts are disabled, but you can also tell they are disabled because there is no subtitle button in the video player.

[2021-04-19 13:59] kurtabela commented on #97
Same issue here. This wasn't here a few months ago, and I just tried this for the first time in a long time. Don't know, never had this error before

[2021-04-19 14:28] jdepoix commented on #97
@kurtabela What version of youtube-transcript-api are you on?

[2021-04-19 14:46] kurtabela commented on #97
... I just upgraded to the latest version and it worked... :) Now I feel stupid ahah

Thanks for the great API!

[2021-04-24 21:38] balla-a commented on #110
For this video, I get this error, but it seems it has a transcript. https://www.youtube.com/watch?v=4FN12sqoC4Y
ran the code: YouTubeTranscriptApi.get_transcript('4FN12sqoC4Y',languages=['en'])
Any idea why? I also ran this code like 100 videos, and 5 of them lead to the same error.

[2021-04-25 09:00] jdepoix opened #111 "Improve Error message when trying to retrieve transcript for a age restricted video"
As mentioned in #110, attempting to retrieve an age restricted video (without using cookies) currently raises an `TranscriptsDisabled` exception. We should introduce a specific exception for this case to make it more clear to the user what the actual error is.

[2021-04-25 09:01] jdepoix commented on #110
@balla-a it seems that the video `4FN12sqoC4Y` is age restricted. Read https://github.com/jdepoix/youtube-transcript-api#cookies to learn how to work around this.

I also created a new Issue (#111) to provide a more descriptive error message when accessing age restricted videos.

[2021-05-05 06:26] cantwbr opened #112 "YouTube is receiving too many requests from this IP"
I receive the `TooManyRequests` exception from different IP addresses when I execute:

`YouTubeTranscriptApi.list_transcripts("WH8I15Cxwss")`

I checked for a captcha using both Firefox and Chrome from these IP addresses, but was not asked to solve one.

I am using youtube-transcript-api 0.4.1 and Python 3.7.7

[code]

[2021-05-06 11:57] jdepoix commented on #112
Hi @cantwbr,

unfortunately, I was never able to replicate this myself, but users have reported that they were able to work around this by solving a captcha. It could very well be that this is not a reliable solution, this was more added as "a thing you could try" to this error message. Unfortunately, there isn't too much you can do to work around YouTubes rate limits other than changing your IP.

[2021-05-06 11:57] #112 closed

[2021-05-21 14:39] Garrettlynch opened #113 "get_transcripts no longer working"
I had been using this API without any issues but today I keep getting "The video is no longer available" error for videos that are available and have transcripts, code below, error output below that:

[code]

[code]

[2021-05-21 15:34] jdepoix commented on #113
Hi @Garrettlynch, I just checked the video `1mf06IwdpVM` you posted about and it in fact does not have a transcript. Is this the same for other videos which actually have transcripts? Also, which version of this module are you using?

[2021-05-21 18:08] Garrettlynch commented on #113
Hi, I've tried multiple videos using both `get_transcript("5Cdv932eoU0")` and `get_transcripts(["5Cdv932eoU0"])` - always the same `VideoUnavailable` error today. As I said it was working without issue until today. Nothing changed in the code.

I was using youtube-transcript-api 0.3.1. I just updated to 0.4.1 and it seems to be working now. The video without a transcript threw back a `TranscriptsD

[2021-05-21 18:13] jdepoix commented on #113
Yeah, that version isn't working anymore since YouTube has added a cookie setting screen which occasionally is returned when doing requests towards YouTube. Therefore, versions older than v0.4.1 are most likely not working anymore.

[2021-05-21 18:13] #113 closed

[2021-05-28 01:27] bilunsun opened #114 "Cannot get any transcripts; "VideoUnavailableError""
Trying to run these two lines of code to retrieve the transcript from this [https://www.youtube.com/watch?v=8KkKuTCFvzI](TED talk).

[code]

However, I am getting the following error
[code]

[2021-05-28 07:52] jdepoix opened #115 "Add hint to error messages which tells users to add version to issues and check for newer versions"
A lot of issues are coming in from users who are running versions < v0.4.1, which are no longer compatible to YouTube. To avoid people creating issues for this, the error message which tells them to create an issue should also include a hint to check for a newer version.

[2021-05-28 12:12] bilunsun commented on #114
Thanks for the prompt reply!

It was working yesterday at first when I did `pip install youtube_transcript_api`, then stopped working. I reinstalled it just now, and it's working again lol.

Can I keep this issue open today, it case it happens again?

[2021-05-28 12:39] #114 closed

[2021-05-31 13:29] salonygupta76 opened #117 "get_transcript not working"
Hi, I'm in a Linux environment and have verified the following before raising this issue:

1. The version in use is youtube-transcript-api==0.4.1
2. From my local Ubuntu 18.04.5 LTS, I'm able to get desired response for https://www.youtube.com/watch?v=FStcqEIH9G0
3. Trying to hit API from Ubuntu servers setup for dev and prod environments leads to not getting any transcripts. (https://github.com/j

[2021-06-01 06:45] jdepoix commented on #117
Hi @salonygupta76, could maybe try and run `curl 'https://www.youtube.com/watch?v=FStcqEIH9G0'` from your server and upload the resulting HTML somewhere and post the link here?
Also, since you posted that specific video, is the error only on that video or every video you try?

[2021-06-01 07:08] salonygupta76 commented on #117
No, I'm getting issue with any video with available transcript that I try. Here's the result on running above command: [link](https://drive.google.com/file/d/1nX6ztBgZPgxS97XAEa_lqW9w4XamTDx1/view?usp=sharing)

[2021-06-01 08:52] jdepoix commented on #117
@salonygupta76 are you sure you pulled that html from the host the module was failing on? The HTML you uploaded seems just fine and I have no problem extracting transcripts from it.

[2021-06-01 09:39] salonygupta76 commented on #117
I've exposed this service as an API in dev environment and I'm trying to query the same using Postman from my local system. The response html is shared after ssh'ing into dev and running curl command that was shared by you.

[2021-06-01 11:22] jdepoix commented on #117
Just so that I am understanding you correctly: curling YouTube from your local machine returns the same html as curling YouTube from your server, yet this module works on your machine, but not on your server, right? That seems really odd! What python version are you using btw? And could you please post the exact error message which is returned by this module.

[2021-06-02 09:47] CamilleSchr opened #118 "Problem The video is no longer available"
Hi,

I would have to have the transcriptions of the videos of one channel.
I followed this tuto : https://www.pragnakalp.com/automate-youtube-video-transcription-python/
on the channel id : UCg40OxZ1GYh3u3jBntB6DLg (Forbes Breaking News)

And I have this result for all the videos on this channel :

_Could not retrieve a transcript for the video https://www.youtube.com/watch?v=aiB5zgNWgwU! This is

[2021-06-02 09:59] jdepoix commented on #118
Hi @CamilleSchr, try updating to v0.4.1, that will most likely fix your problem.

[2021-06-02 10:08] CamilleSchr commented on #118
Thanks it works with the new version :)

[2021-06-02 10:08] #118 closed

[2021-06-02 11:31] CamilleSchr opened #119 "Get transcriptions of playlist videos"
Hi,

I would like to get the transcription of this channel (explore>news>worldnews) : https://www.youtube.com/channel/UCvAvFl2OGsuDSoOo93Kd0nA

I follow this tuto and put channel_id= 'UCvAvFl2OGsuDSoOo93Kd0nA', but I received this following error :

_HttpError: <HttpError 404 when requesting https://youtube.googleapis.com/youtube/v3/playlistItems?playlistId=UUvAvFl2OGsuDSoOo93Kd0nA&part=snippet&ma

[2021-06-02 12:09] jdepoix commented on #119
Hi @CamilleSchr, it seems like you're asking a question about YouTubes public API. That doesn't have anything to do with this module. Please refer to the official documentation.

[2021-06-02 12:09] #119 closed

[2021-06-12 15:25] vanyamlb commented on #117
@jdepoix

Hello, I don't know if it's the right place to post, if no, I am very sorry, maybe I should have created a separate issue.  But I have problems with your tool using it from the EU zone countries when I do it from my command line. When I do with EU countries VPN on the sites like replit or pythonanywhere, it works fine (it sends requests from their IPs I suppose). When I use VPN for out-o

[2021-06-13 23:52] Lavarider opened #120 "Enable Curse Words"
First off, thanks for the library, it has worked very well and helped me a great deal.

However, while looking through the transcripts for some videos (Michael Reeves for context), I noticed that "[ __ ]" was in the place where I assume curse words would be located.  Is there any way to get curse words to show up in these locations? I am using the basic get_transcript command.

[2021-06-14 16:30] jdepoix commented on #117
@vanyamlb could you please explain your infrastructure a bit more, I am not sure if I am understanding you correctly. Also, what do you mean by live chats? This module only supports transcripts. And what version of this module are you using?

[2021-06-14 16:34] jdepoix commented on #120
Hi @Lavarider, actually I never notices this. Could you maybe share the ID of a video where this is the case? Does YouTube also show it like that when you enable subtitles on their Web-Player?

Without having this tested, I could imaging that YouTube censors curse-words when not being logged in (or logged in and under 18 or something like that). So maybe if you use a cookie from a logged in sessio

[2021-06-14 16:52] vanyamlb commented on #117
1. Windows 10, 21H1, 64 bit. Python 3.9.1.
2. I meant that I have another YouTube tool for live chats from another developer (not connected with this topic), but it also stops working in the same conditions.
3. I live in Ukraine (so out of the EU sadly).  Your tool (last version) and another tool for live chats from another developer work fine together, but once I turn EU country's VPN on - they s

[2021-06-14 17:12] vanyamlb commented on #117
@jdepoix

Just checked everything again.

![image](https://user-images.githubusercontent.com/28903898/121931718-a8e94300-cd4c-11eb-9b3b-35e330c78c4e.png)

1 - under Italy's VPN or any other EU
2 - under Israel's VPN or just my own Ukrainian's IP (or any other out-of-EU)

[2021-06-14 17:16] vanyamlb commented on #117
@jdepoix

Just checked everything again.

![image](https://user-images.githubusercontent.com/28903898/121932328-6ffd9e00-cd4d-11eb-80aa-e40a8deb85c5.png)

1 - under Italy's VPN or any other EU
2 - under Israel's VPN or just my own Ukrainian's IP (or any other out-of-EU)

[2021-06-14 20:10] Lavarider commented on #120
One video where this is the case is "I built a Surgery Robot" at this link: https://www.youtube.com/watch?v=A_BlNA7bBxo. The closed captions between 1 minute and 1:10 are probably the most helpful for reference.

Youtube does have this "feature" when I enable subtitles on their web player. However, this is always enabled in the web player closed captions, both when I try and watch youtube signed o

[2021-06-15 06:45] jdepoix commented on #117
Well, I live in Germany and I don't have a problem using this, so I'm pretty sure it's not a problem with EU law 😄
Sound like it's a problem with your VPN to me. What happens if you just open youtube.com from one of those VPNs were it's not working?

[2021-06-15 06:50] jdepoix commented on #120
Wow, looks like you're right. There actually seems to be no way to get an uncensored transcripts. That's kinda ridiculous 😄
But unfortunately if there's no way to get these transcripts in the web-player, then there's also no way to get them with this module 😞
So I'll unfortunately have to close this as there is not much we can do here.

[2021-06-15 06:50] #120 closed

[2021-06-15 07:51] vanyamlb commented on #117
@jdepoix the problem is that I am not alone, my friend from Germany has this issue too and friends from other EU countries :/ (without a VPN)  If it was only with VPN, then sure I would think about that... Maybe it's IPS blocking it or youtube...? I don't know the explanation...  I checked YouTube with my VPN and it worked fine...  But once more, when I use the same VPN app for non-EU country - i

[2021-06-15 07:58] jdepoix commented on #117
I'm sorry @vanyamlb but I can't provide support for other modules. However, I might be able to help me if you upload the HTML you receive when accessing any given video (with subtitles) on youtube.com through curl or a browser.

[2021-06-15 08:14] vanyamlb commented on #117
@jdepoix with curl just got too many requests errors (429)  with VPN :/  wondering why did they block the IP and how to avoid that..

[2021-06-15 08:18] jdepoix commented on #117
@vanyamlb probably you're sharing an IP address with other users of that VPN and that IP has been blocked because of too many requests. Is there any way to change the IP address?

[2021-06-15 08:26] vanyamlb commented on #117
@jdepoix ok I realize that with VPN that's possible... but people who used this for themselves with their IPS  and got the block (while I used it so so much too and didn't get it :/)... Maybe they have static IPs while I have dynamic...
do you know any way to get your IP unlocked without changing IP address?

yes, when I changed, it started working, but idk how to change it within the country to c

[2021-06-15 08:51] jdepoix commented on #117
Unfortunately, there is no way I know of to get around the block without changing the IP or simply waiting until the block gets removed. So there's not really anything you can do here.

I guess this issue lost track a bit. @salonygupta76 any news on your end?

[2021-06-19 08:11] helmimuharram opened #121 "getting transcript from multiple video ids?"
Hi I'm using windows at the moment and I used the lates version of the API. I just wonder how can I getting transcript from multiple video ids at the same time?

Currently I'm using the same code from https://stackoverflow.com/questions/42867732/getting-youtube-auto-transcript-from-api (the answer from user2585501) but for some reason the code only fetch the transcript of the last video id from th

[2021-06-21 06:41] jdepoix commented on #121
Hi @helmimuharram, could you please share the exact code your using and error message you are getting doing so?

[2021-06-21 08:42] maxifom opened #122 "Asyncio support?"

[2021-06-21 09:09] jdepoix commented on #122
What kind of support are you looking for, can't you simply wrap calls to this module in async functions?

[2021-06-21 09:45] maxifom commented on #122
I want aiohttp implementation. Indeed I can wrap it in PoolExecutors to not block async executions, but its not the best way in async Python

[2021-06-21 09:58] jdepoix commented on #122
I don't plan to support http clients other than requests as of now. However, feel free to open a PR if you think this would be a valuable addition and I would be open to merge it if the implementation isn't too invasive.
My concern is that you won't really benefit from doing multiple async requests concurrently as this just increases your changes of getting IP blocked by YouTube, due to the high a

[2021-06-21 09:58] #122 closed

[2021-06-21 23:53] helmimuharram commented on #121
`from youtube_transcript_api import YouTubeTranscriptApi

#srt = YouTubeTranscriptApi.get_transcript(video_id)

videoListName = "youtubeVideoIDlist.txt"
with open(videoListName) as f:
    video_ids = f.read().splitlines()

transcript_list, unretrievable_videos = YouTubeTranscriptApi.get_transcripts(video_ids, continue_after_error=True)

for video_id in video_ids:

    if video_id in transcript_lis

[2021-06-22 09:04] jdepoix commented on #121
The easiest way to get multiple transcripts probably is `YouTubeTranscriptApi.get_transcripts(["video_id1", "video_id2", "..."])`. [Please read the README for more detailed information on how to use this module](https://github.com/jdepoix/youtube-transcript-api#api).

[2021-06-22 09:04] #121 closed

[2021-06-22 11:15] jyotsna2893 opened #123 "TranscriptsDisabled: Subtitles are disabled for this video"
https://www.youtube.com/watch?v=_0pRQtpA7iY&ab_channel=FormulaWorld

I was trying to get text from this video. Transcript failed, stating that subtitles are off for this video. It happened earlier also where subtitles where enabled and it still failed.

[2021-06-22 12:08] jdepoix commented on #123
Please provide the exact code you are executing and error message you are receiving while doing so.

[2021-06-23 04:58] helmimuharram commented on #121
wow, you really HAVE TO close this instantly huh. Well for your information: your solution doesn't work and if the features for multiple downloads didn't exist yet, maybe can you at least count it as a suggestion for the next update of this API.

[2021-06-23 07:31] jdepoix commented on #121
I think you are kind of missing the point of GitHub issues. This should be used to report bugs in the repository, or discuss possible features/direction the repository should move in to, not so explain to you why some code you copied of stackoverflow doesn't work. The reason your code is not working as you expect it to does not have anything to do with this module. As I explained to you (although

[2021-06-25 03:12] helmimuharram commented on #121
### here let me rephrase it for you:

and for those of you who come here with the question same as mine (from google or whatever) and can't find the answer, the code is the same as what I paste from the StackOverflow, but just add this at the end:
`with open(video_id + '.txt', 'w', encoding='utf-8') as txt_file:
            txt_file.write(text)`

_I manage to find the solution before this thread c

[2021-06-25 07:32] jdepoix commented on #121
### here let me rephrase it for you:

Don't expect people to take the time to choose nice words for you while you don't bother to do so yourself.

[2021-06-25 07:52] jdepoix commented on #117
@salonygupta76 any news? Otherwise I will close this issue.

[2021-06-25 08:33] salonygupta76 commented on #117
Hey @jdepoix Sorry about the delay in getting back. Unfortunately, at this point of time, I'm unsure what the root cause could be. For a video like this: [url](https://www.youtube.com/watch?v=-em-_gFlDfQ) (where a transcript exists), sometimes the API simply throws this error instead of retrieving it:

Note that this happens only in case of trying to access the code available on one of dev/prod en

[2021-06-25 10:56] jdepoix commented on #117
@salonygupta76 where did you deploy your application? Maybe you are running into a problem similar to what @vanyamlb is describing?

[2021-06-30 14:26] salonygupta76 commented on #117
I'm deploying the code in Linux environments as a Flask application. I've been capturing the error tracebacks for a while now and some of them do look like the one @vanyamlb shared above. I'm even using proxies.

[2021-06-30 14:52] jdepoix commented on #117
@salonygupta76 but what infrastructure are you hosting your application on? If it is a cloud provider like GCP, AWS etc. it is likely that you are sharing a public IP with other users and therefore are being blocked by YouTube. What happens when you curl `https://www.youtube.com/watch?v=-em-_gFlDfQ` from that environment as it is throwing that error? Do you an 429 as well? Otherwise could you mayb

[2021-06-30 14:59] salonygupta76 commented on #117
@jdepoix Infra is AWS. Right now, the block has been lifted and I'm able to get results. Can share Curl response when it reverts to throwing errors.

[2021-07-07 07:42] jdepoix commented on #123
@jyotsna2893 is this still relevant? Please let me know if your issues has been resolved, so that I can close this issue.

[2021-07-07 07:59] jyotsna2893 commented on #123
Hello, I did not encounter that error again. So, yes you can close the
issue for now.

On Wed, Jul 7, 2021, 1:12 PM jdepoix ***@***.***> wrote:

[2021-07-07 08:02] #123 closed

[2021-07-10 08:51] epogrebnyak opened #124 "subtitles seem enabled, but do not load"
Thank you very much for maintianing youtube-transcript-api!

I got stuck with subtutles that do not load, even though I enabled them in video, and switched of content under 18 flag for video and the channel. Maybe these changes take a while to take effect, but I do see subtitles in video.

I try the following code:

[code]

it fails with:

[code]

[2021-07-10 08:52] epogrebnyak commented on #124
Minor note the address is `https://www.youtube.com/watch?v=o!` - something got cut from the error message, the id is oUzcoYAwYyI

[2021-07-10 08:54] epogrebnyak commented on #124
I reviewed #123 and #100 for ideas to fix, but so far it is to look at child control, which I tried.

[2021-07-11 11:18] jdepoix commented on #124
Hi @epogrebnyak, `get_transcripts` takes an `Iterable` of video IDs. So if you pass in a single string containing a video id it will iterate through each character of that string considering it a video id. You'll have to either do
[code]
or
[code]

I think a few people have stumble over this, as `get_transcripts` gets easily confused with `get_transcript`. I think I will add an `assert` to `get_tr

[2021-07-11 11:18] #124 closed

[2021-07-11 11:20] jdepoix opened #125 "Add assert to get_transcripts to check if it is a string"
There have been a few issues like #124 where people mistakingly use `get_transcripts` instead of `get_transcript` and pass in a string. This does not a fail as a string is an iterable, but does not yield the desired result.

This mistake could be made more obvious by adding an assert to `get_transcripts` checking if the param is a string.

[2021-07-11 11:20] jdepoix commented on #124
I opened an issue to add that assert in the future.

[2021-07-11 16:20] epogrebnyak commented on #124
Thank you for clarifying, indeed easily confused.

Have you considered a more object-like interface Video(youtude_id).get_transcript()? This is really a sugar over existing API, but maybe useful.

[2021-07-11 18:50] jdepoix commented on #124
@epogrebnyak the static methods `get_transcript` and `get_transcripts` really only are convenience-wrappers around the `TranscriptList` object. Look at [this example if you want to use `TranscriptList` objects instead](https://github.com/jdepoix/youtube-transcript-api#by-example), which give you more options.

[2021-07-12 11:35] salonygupta76 commented on #117
Hey, facing the issue yet again and error is mostly "Video is not available..." one when trying your code.

When I hit **curl -L https://www.youtube.com/watch?v=-em-_gFlDfQ**, I get the following as response:

[code]
Is this the curl response you're looking for? There seems to be some request limit, which when surpassed throws this error.

[2021-07-12 12:07] jdepoix commented on #117
Hi @salonygupta76, thank you very much for the detailed information. That is exactly what I was looking for. Unfortunately, this confirms my assumption that you are being blocked by YouTube. The only way to work around this is to

- Manually solve the captcha in a browser, then export the cookie and [use it for future requests](https://github.com/jdepoix/youtube-transcript-api#cookies)
- Use a dif

[2021-07-12 14:47] salonygupta76 commented on #117
@jdepoix Yes, I've thought of these solutions, IP rotation in particular.

Inducing a sleep could work if we know which quota limit is specifically in
play here, that is, requests per min or requests per day or any other. Do
you have any idea which of these leads to our issue?

I tried making requests via a Proxy (in the methods exposed where proxies
is None by default) but in vain. My assumption

[2021-07-12 14:57] jdepoix commented on #117
@salonygupta76 Unfortunately, I don't know how long the "sleeping interval" would have to be to be sufficient. You'd have to play around with that. But if you do so, I would greatly appreciate if you could share your findings!

If you want to look deeper into the requests which are being sent, you'll have checkout the code and add some logs or run it in a debugger. More specifically `youtube_trans

[2021-07-22 08:25] AdityaPawar2019 opened #126 "Subtitles are disabled for this video"
Traceback (most recent call last):
  File "F:\Projects\YouTube transcript summarizer\file.py", line 6, in <module>
    text = YouTubeTranscriptApi.get_transcripts(video_code,languages=['en'])
  File "F:\Projects\YouTube transcript summarizer\env\lib\site-packages\youtube_transcript_api\_api.py", line 102, in get_transcripts
    raise exception
  File "F:\Projects\YouTube transcript summarizer\env\

[2021-07-22 08:51] #126 closed

[2021-07-24 18:14] kanchansapkota27 opened #127 "How to Handle Unavailable Transcript?"
How would I go about handling if a transcript is unavailable. I am not able to work around it with simple try except.

[2021-07-24 18:43] #127 closed

[2021-08-15 08:07] dankeinan1 opened #128 "TranscriptsDisabled exception"
Hi,
I am trying to use this API to get the manually created transcript in Hebrew of YouTube videos.
I am using these code:
`transcript_list = YouTubeTranscriptApi.list_transcripts([video_id])
transcript = transcript_list.find_manually_created_transcript(['he'])`

I tried it with many different videos with manually created captions, one video for example: https://www.youtube.com/watch?v=i5_5gGimcio

[2021-08-15 12:17] jdepoix commented on #128
Hi @dankeinan1, `list_transcripts()` should receive a single video id instead of a list of video ids. The name is pluralized because it returns multiple transcripts not because it takes multiple inputs 😊
I realise that a lot of people get confused with input types, that why I am planning to add type assertions in #125.
I will close this for now, let me know if you're still having issues.

[2021-08-15 12:17] #128 closed

[2021-08-21 15:58] 100ideas opened #129 "hello world sandbox on repl.it"
Hi, thanks for this useful package!

I played around with it a bit today on repl.it. Maybe should have written a new custom Formatter but instead I just hacked together some string processing.

Anyway, if anyone wants a quick way to play with this library, here's the repl.it instance

https://replit.com/@100ideas/youtube-transcript-apitest

and repo

https://github.com/100ideas/-youtube-transcript

[2021-08-23 07:05] jdepoix commented on #129
Hi @100ideas, thank you for sharing this!
However, the purpose of GitHub's Issue section mainly is to report on bugs in this module and discuss new features. Therefore, this probably isn't the right place to share this information. GitHub recently added a [Discussion section](https://github.com/jdepoix/youtube-transcript-api/discussions), which has been used by a few people to discuss stuff, which

[2021-08-23 07:05] #129 closed

[2021-08-25 05:53] nikitalita commented on #106
Can you just add the ability to grab the json3 and not do any post-processing/formatting for now?

[2021-08-25 07:13] jdepoix commented on #106
Hi @nikitalita,
could you maybe share your usecase so that I can get a better idea of why this would be useful to you (what information does the `json3` version have, which the current output doesn't)?
I'll have to do some refactoring on the formatters to integrate this feature into this module nicely, which I currently don't have a lot of time for. Therefore, I will unfortunately not be able to i

[2021-08-25 07:59] nikitalita commented on #106
If you take a look at this issue, it explains it; using timestamps per word for better accuracy in determining where sentence breaks are.

https://github.com/shashank2123/Punctuation-Restoration-For-Youtube-Transcript/issues/1

That does help, thank you :)

[2021-08-25 08:14] nikitalita commented on #106
For those of you playing at home, here's how you get the json3 url using the above (substitute languageCode where appropriate):
[code]

[2021-09-27 23:09] themindfactory opened #130 "too many calls, blacklisted? how to avoid"
So this just happened on my LAMP server, I have no ablilty to run chrome/etc on it to answer the captcha and get the cookies...

Hope they un-blacklist the server :-)

If they ever do, how often can you call the transcript function for a video and not get burned.

Will doing many videos at once help? I was doing one at a time.

Thanks!

[2021-09-28 07:47] jdepoix commented on #130
Hi @themindfactory,
unfortunately, there aren't any ways to work around this (that I know of), other than what's stated in the error message. Also, I haven't been able to figure out how long it takes to get un-blacklisted, nor how many request you can do before getting blacklisted. It doesn't seem to be consistent though, therefore I assume YouTube decides depending on the current system load. You

[2021-09-28 07:47] #130 closed

[2021-11-05 19:47] thoughtfuldata opened #131 "Expecting ',' delimiter: line 1 column 1576 (char 1575)"
This may be out of scope as I am using youtube-transcript-api with parallel processing and the issue only happens with it. However I believe it is the way the youtube-transcript-api that is handling that error that is the bug.

System information

    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 : 10.0.19041
    youtube-transcript-api Version: 0.4.1
    Python version: 3.9.6

[2021-11-06 21:27] thoughtfuldata commented on #131
Actually after more research, it seems to happen once in a while with this

`youtube_transcript_api.YouTubeTranscriptApi.get_transcript('BaxBFnIUTrc')`

[2021-11-08 08:23] jdepoix commented on #131
Hi @thoughtfuldata,
it's hard to analyse much without seeing your code, but given the fact that you're doing multiple requests in parallel this is not surprising at all. One of the reoccurring problems when using this module is that YouTube tends to block requests when you are executing too many at a time and there's not really anything we can do about that. So when you're parallelising requests,

[2021-11-08 09:23] jdepoix commented on #131
Error message for error status codes is being added in #132

[2021-11-10 00:17] thoughtfuldata commented on #131
Thanks!

This helps me out

[2021-11-10 00:17] #131 closed

[2021-11-10 07:41] jdepoix commented on #131
I forgot to mention: the improved error message has been released with version 0.4.2

[2021-11-11 02:21] arturoalcibia opened #133 "[Feature] Default language on Transcript class"
Hello! It'd be great to have the default language of a video available as an attribute on the Transcript class.

I've been able to get this by accesing the list of subtitles from this url:
- https://video.google.com/timedtext?v={videoId}&type=list

If more than one subtitle is available, there will be a "default_lang" key on the xml. Which is what the user chose as the language of the video when u

[2021-11-25 04:00] MAJA-Lin opened #134 "Get confused at the format "webvvt""
I thought this might be a typo?

https://github.com/jdepoix/youtube-transcript-api/blob/5657a4867476d6edae582b7de3a07e395128b964/youtube_transcript_api/formatters.py#L138-L144

REF: [Web Video Text Tracks Format (WebVTT)](https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API)

[2021-11-25 08:29] jdepoix commented on #134
Oh boy, you are right! How did this go unnoticed for so long... 🙈
Thanks for pointing this out!

[2021-11-29 14:57] xenova opened #136 "KeyError: 'playerCaptionsTracklistRenderer'"
[code]

I am using the latest version (0.4.2):
[code]

I don't believe this is an issue with rate limiting or anything as it works perfectly fine on all other videos. In fact, I have downloaded transcripts for over 40000 videos and never had an issue.

If this error cannot be reproduced on your side, I will gladly give more information. Thanks 👍

[2021-11-29 15:48] jdepoix commented on #136
Hi @xenova,
thanks for reporting, I can replicate this error. It seems like subtitles are disabled on `Fjg5lYqvzUs`, however, a `TranscriptDisabled` exception should be raised. I will look into this as soon as I can.

[2021-11-29 15:51] xenova commented on #136
Great, thanks! 👍

Strange that it happens on only 1 of the 40k+ videos I've been working on.

[2021-11-29 15:51] xenova commented on #136
If you want, I can provide a pull request to fix it.

[2021-11-29 16:18] jdepoix commented on #136
That would be greatly appreciated, as I am currently a bit short on time!! 😊

[2021-12-03 10:46] BMouhcine opened #138 "requests.exceptions.ConnectionError: HTTPSConnectionPool(host='www.youtube.com', port=443): Max retries exceeded with url: /watch?"
Hello,
I am using youtube-transcript-api and this error is thrown from time to time.
`requests.exceptions.ConnectionError: HTTPSConnectionPool(host='www.youtube.com', port=443): Max retries exceeded with url: /watch?v=N1pseW9waNI (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f2148e536d0>: Failed to establish a new connection: [Errno -5] No address associated with

[2021-12-03 11:06] jdepoix commented on #138
Hi @BMouhcine, while running into rate limits with YouTube isn't uncommon, I haven't seen that particular error yet. It does seem more like it's a networking problem in your stack. What machine is this code running on? And what OS and python version are you using?

[2021-12-03 11:15] BMouhcine commented on #138
Hello @jdepoix , thanks for answering :-)
Windows & Docker (Docker Desktop in Windows), the error persists in both systems.
I'm currently using python3.8 with youtube-transcript-api==0.4.2.
The error is also thrown on MacOS (Docker Desktop).

Thanks !

[2021-12-03 13:23] jdepoix commented on #138
Could you maybe check if you are able to do any of the following requests directly after `YouTubeTranscriptApi.list_transcripts` has failed and report back:
[code]

[2021-12-03 13:40] BMouhcine commented on #138
Hello @jdepoix ,
Here's the report back:
`WARNING:root:youtube failed

WARNING:root:www.youtube.com failed`
PS: As I am in production mode, I did logging.warning instead of print

[2021-12-03 16:32] jdepoix commented on #138
How about `ping`ing or `curl`ing (https://)youtube.com after the failure?

[2021-12-03 17:49] BMouhcine commented on #138
`curl https://youtube.com` doesn't return anything. (as for https://facebook.com).
However, `ping youtube.com` works.

[2021-12-07 07:40] jdepoix commented on #138
I'm sorry, you'll have to run `curl https://www.youtube.com` for it to return anything

[2021-12-07 10:25] BMouhcine commented on #138
Hello @jdepoix . Thanks for your time on this.
I ran `curl https://www.youtube.com`; It returns html, js. (I presume it's the source code of the page).

[2021-12-07 10:47] jdepoix commented on #138
So even while the error is occurring, you are able to curl youtube?
If so, please also do `curl "https://www.youtube.com/watch?v=VIDEOID"` with the video id which is failing and upload the response somewhere so that I can have a look at it.

[2021-12-07 11:03] BMouhcine commented on #138
Hello @jdepoix .
Something new:
I tried to curl the youtube video link, then result returned is this. (I've tried to curl youtube & google as well).

![image](https://user-images.githubusercontent.com/44417293/145017663-3ae5ea85-303e-4afc-9e6f-4aa0afe2e084.png)

[2021-12-07 11:22] jdepoix commented on #138
That is more the kind of result I expected. Unfortunately though, I don't think there is much I can help you with here. If your machine isn't even able to curl YouTube, there isn't much that YouTube Transcript API can do, to work around this.
Maybe there is something in your networking stack which is causing this problem, but it also could be that YouTube is blocking your requests. In the later ca

[2021-12-07 11:22] #138 closed

[2021-12-09 08:17] xenova commented on #110
Just a heads up, but it still appears that you can view the transcript of a video, even if it's age restricted:
![image](https://user-images.githubusercontent.com/26504141/145359100-ba6a1ee5-43b9-48f1-ba6b-64f69a2e984a.png)

There's most likely a workaround that exists to generate the correct parameters when loading the transcript.

[2021-12-09 08:32] jdepoix commented on #110
@xenova huh, that's interesting. I will have to take a deeper look into this to see if the response still contains the information we need to parse the transcript URLs as we currently do.

[2021-12-13 09:16] #134 closed

[2021-12-13 09:16] #136 closed

[2021-12-16 08:43] jdepoix commented on #133
Hi @arturoalcibia,
sorry for the late reply, somehow I must've missed this issue...

I am not really sure what functionality you are asking for exactly. You are currently able to retrieve transcripts in different languages using
[code]
or
[code]
What use case do you have which is not covered by these methods?

[2021-12-17 16:34] sekpona1-crypto commented on #38
I am new here. I am using youtube transcript api to get the subtitles; but the times of "duration" keys  do not seem correct to me. Because they overlap. Is there a way to find out the start and end date of each word spoken in the video?
Help me please. Its important to me.

[2021-12-17 16:43] jdepoix commented on #38
@sekpona1-crypto The duration is the on-screen time of the subtitle box on YouTube. Since there usually are at least two subtitle boxes overlapping, durations will also overlap. There's no way to work around this as the information when a sentence ends is not available.

[2021-12-20 14:22] lolcowgo opened #140 "Error: Subtitles don't exist, but actual video has transcripts and closed captioning"
Hello,
Short story, I've been collecting captions on a user and starting on 11/26 captions started not collecting for him (although other users still get captions correctly). Videos are always live streams which do correctly capture normally until this issue, not sure if something can be done from your end. On the video itself a transcript exists along with closed captioning, but again no pulls in

[2021-12-20 15:47] jdepoix commented on #140
Hi @lolcowgo,
I can not replicate this error using `28TZHDO8R9Y` nor `6hwQm8M0ycg`. Is this error consistently showing for you? What version of this module and python are you on?

[2021-12-20 15:59] lolcowgo commented on #140
Thanks for the quick reply,
Just did an update to the module from 0.3.1 to 0.4.3 while browsing through your closed section to no success, I am also using python 3.9.9.
I have attempted to use OIqN-Mc9dfk to no avail as well, however r3McS_dOX00 works.

[2021-12-20 16:25] jdepoix commented on #140
`OIqN-Mc9dfk` is age restricted, therefore you can't access its transcripts without authentication. I just realised that this also is the case for `6hwQm8M0ycg`, so that most likely is the reason your error.

Read the [READMEs section about cookies](https://github.com/jdepoix/youtube-transcript-api#cookies) to find out how to work around age restrictions.

Let me know if this does the trick so tha

[2021-12-20 16:28] lolcowgo commented on #140
Hello,
Thank you very much for that that was the last thing to cross my mind! I'll look around at your link and work with that and if I incorrectly close the thread you can close it for me.
Thank you very much for the hasty reply and solving the issue, Merry Christmas and thank you for this useful API.

[2021-12-20 16:28] #140 closed

[2022-01-04 06:53] arturoalcibia commented on #133
Hi @jdepoix,

no worries.

This would give us access to what the user intended the default caption track to be played. Which is usually the language of the video.

As an example, this video contains multiple manually created tracks: https://www.youtube.com/watch?v=UOgvbS4GkF0
But English is the one the user set to default.

You can find which transcript track is set to default by looking at the ht

[2022-01-04 08:29] jdepoix commented on #133
Hi @arturoalcibia,

okay, that makes sense. In that case the default language would have to be added as a param to the `TranscriptList` constructor and the `TranscriptList.build` method would have to determine the default language and set it. The `language_codes` params on `find_manually_created_transcript`, `find_generated_transcript` and `find_transcript` would have to become optional and if the

[2022-01-05 06:20] arturoalcibia commented on #133
Hi @jdepoix,

Sounds good, I agree that the breaking change seems worth it, adding any extra function or argument to return the default language seems overkill and would get confusing. I also think having "english" as a default language feels arbitrary. Returning the default language provided by the user looks cleaner.

[2022-01-05 17:35] arturoalcibia commented on #133
Hi @jdepoix,

I think I have a working version with this feature, would it be possible to be added as a contributor to submit a M.R.?

[2022-01-05 17:52] jdepoix commented on #133
Hi @arturoalcibia, you don't need to be a contributor to submit a PR. You can simply submit a PR from your fork. [Read this to find out more!](https://opensource.com/article/19/7/create-pull-request-github)

[2022-01-06 18:26] crysfel opened #141 "How do you get around the captcha?"
Hi there! Awesome project you have here!

I have a question, how do you get around the captcha? I'm opening youtube from a PHP script I have, it works pretty good on my local, but when I tried on my production server I'm getting this error:

[code]

I installed this package on my production server and did a quick test, it works pretty well! I looked at the code and it's basically [a call to youtub

[2022-01-06 19:37] jdepoix commented on #141
Hi @crysfel,

unfortunately, there isn't really an easy way to work around captchas, since blocking traffic from bots pretty much is the point of captchas 😄

The only thing you can do to work around YouTube blocking you is to change your IP address in any way (like using proxies), or simply waiting until they have lifted the ban (I don't know how long you'll have to wait though, as it seems to be

[2022-01-06 19:37] #141 closed

[2022-01-11 11:33] manisha0399 opened #142 "Youtube_transcript_api"
youtube_transcript _api is not working eventhough the subtitles are presented

[2022-01-11 11:47] jdepoix commented on #142
Please provide more information on the code you are running, which video you are trying to get the transcript for, which error message and exception you are getting, which version of python and youtube-transcript-api you are using etc.

[2022-01-24 16:29] #142 closed, assigned to nobody

[2022-02-05 13:31] xenova opened #144 "JSONDecodeError for very specific video id"
For some reason, I am unable to extract transcripts for https://www.youtube.com/watch?v=BaxBFnIUTrc
[code]

This outputs:

[code]

I am running the latest version (youtube-transcript-api-0.4.3) and it fails on both windows and linux.

[2022-02-12 17:24] pohnson opened #145 "get_transcript not working. But can"
OS: Mac Monterey 12.2.1
Python Version: 3.8
Package Version: 0.4.3
Demonstrated Video: https://www.youtube.com/watch?v=zeRJRBNRrpA

**Summary**
I got an error if I use get_transcript() directly. But if I were to use list_transcript(), find_transcript(), and fetch(), it works just fine.

**get_transcript Way**
[code]

[Error Screen](https://imgur.com/a/Z3zHitM)

**Fetch Way**
[code]
[Success](https

[2022-02-12 18:06] jdepoix commented on #145
HI @pohnson, if you're using `get_transcripts` the param `video_ids` has to be a list of video ids, not a string. So either supply a list (`video_ids=['zeRJRBNRrpA'])` or use `get_transcript` instead.

[2022-02-24 09:32] Aditya-Mallick opened #146 "Getting "Subtitles are disabled for this video" when they are available"
I am getting this error message:

[code]

![image](https://user-images.githubusercontent.com/57355781/155497187-c17f514f-1849-42e5-b647-16ad5748effc.png)

I am using youtube_transcript_api-0.4.3 and getting this error.
Please help!!!

[2022-02-24 09:49] #146 closed

[2022-03-01 21:26] xenova commented on #144
Another (somewhat similar) error occurs for the 'X2agMBdnv3c':
[code]

which has the following error:
[code]

[2022-03-02 12:51] soumyasj opened #147 "Transcripts present in youtube but api is throwing error"
For the following video link
https://www.youtube.com/watch?v=4F2N1QUI7hc
Transcripts are present in youtube but the api throws the following error
Could not retrieve a transcript for the video https://www.youtube.com/watch?v=4F2N1QUI7hc! This is most likely caused by:

Subtitles are disabled for this video

[2022-03-02 13:19] jdepoix commented on #147
When I open that YouTube link it gives me an error that this video is not allowed to viewed from my country (Germany). Therefore I can't really check what's going on. But it seems very likely to me that this is the reason for your error. Since requests done by this module are not authenticated, videos which are restricted to certain countries probably won't work. However, you could try and use a c

[2022-03-03 16:05] arvandf commented on #60
@jdepoix is it possible to get a youtube api key and use it in the library to avoid rate limits?

[2022-03-07 20:56] jdepoix commented on #60
@HappyNinja2 this is not possible, as this module does not use the official YouTube API. It simply calls the endpoints which are used by the YouTube frontend.

[2022-03-30 13:28] jdepoix commented on #147
@soumyasj have you had the chance to try it using an existing session? Can I close this issue?

[2022-03-30 15:36] #144 closed

[2022-04-02 10:58] rob70 commented on #147
I ran into a similar issue for 0.4.4  for this video:
https://www.youtube.com/watch?v=TJqlmb1FPyI
The subtitles show up in my browser, and translation works, too.
The youtube channel owner says he has experienced an issue with the subtitles, however:
https://twitter.com/JabbarRafique/status/1510022079135027200.
It is not an age-restricted video and does not require a login to watch.
Thanks.

[2022-04-02 11:08] jdepoix commented on #147
@rob70 have you specified the language? Only russian subtitles are available and if no language is specified english will be used as the default. Therefore, no transcript is found. I can retrieve the transcripts without a problem when running:
[code]

[2022-04-02 11:57] rob70 commented on #147
Thanks for swift response. This worked out for me as well.

[2022-04-12 07:00] jdepoix commented on #147
I will close this now due to inactivity

[2022-04-12 07:00] #147 closed

[2022-04-21 19:53] AaditBhatia commented on #117
I am using the statement transcripts=YouTubeTranscriptApi.get_transcripts((video_id)); in a for loop, however, there are a few videos which have their id disabled. Is there a success or failure call for YouTubeTranscriptApi.get_transcripts((video_id))

[2022-04-22 05:29] jdepoix commented on #117
@AaditBhatia what do you mean by success/failure call? You can simply wrap your call in a `try`/`except` and ignore the exception.

[2022-04-29 21:18] xenova opened #150 "Missing transcripts"
When fetching transcripts for https://www.youtube.com/watch?v=gdsUKphmB3Y, I only get a subset of the available transcripts.

Using library:
[code]

On YouTube:
![image](https://user-images.githubusercontent.com/26504141/166070400-30635411-a9bc-442d-b8ab-48cf1ec36341.png)

[2022-05-04 20:38] Roderick-Jonsson opened #151 "[Feature] Dockerfile"
Adding dockerfile so command can be used via docker images for any cases (eg. testing without having to install anything)

[2022-05-04 20:43] #151 closed

[2022-05-05 08:32] jdepoix commented on #150
Hi @xenova, thanks for reporting this.
The problem here seems to be that both `English - CC1` and `English - DTVCC1` use the language code `en` (same for the Romansh). The `TranscriptList` object holds the transcripts in a dict where the language code is the key. Therefore, there can only be one transcript per language code in that dict. I wasn't aware that multiple transcripts using the same lang

[2022-05-05 08:35] xenova commented on #150
Oh wow that's quite surprising!

I have downloaded > 1 million transcripts for an ML project I'm working on (https://GitHub.com/xenova/SponsorBlock-ml) and only had 1 problem with this, so, it is most likely not that big of an issue.

[2022-05-05 09:02] jdepoix commented on #150
Thanks for reporting back! It's good to know, that this isn't too much of an issue. I have never encountered it myself, although I have scraped quite a few of transcripts.

I might just leave this as is. To fix this we would have to return a `list` from all calls which currently just retrieve a single transcript, to account for the unlikely event that multiple transcripts could be returned. This w

[2022-05-05 12:49] xenova commented on #150
Right, this is definitely a simple problem with an anything-but-simple solution.

As you mentioned, the most important thing is not to break code that breaks modules which depend on it, so your second option seems quite practical.

I have seen implementations (in django I believe) of a "MultiDict" (or something like that) which acts exactly as a dictionary (allowing for indexing), but allows for d

[2022-05-10 22:48] ozancaglayan commented on #106
Hi many thanks for the information. I was trying to figure out one thing actually. Consider the video `lbykL9VjRvM`. If you fetch the subtitles with the TranscriptAPI as it is, you end up with the first two segments:
[code]

where the intervals overlap. Looking at the `json3` format, I think this is because the webpage renders long subtitles by partitiong them into two sub-segments. When the secon

[2022-05-10 23:32] nikitalita commented on #106
No idea, I've stopped trying to mess with youtube's subtitles

[2022-05-10 23:57] jbrek opened #153 "stopped working"
It stopped working few days ago.  I never get any results.  downloadyoutubesubtitles dot com also not working.

[2022-05-11 07:14] jdepoix commented on #153
Hello @jbrek,
could you please provide more information
- which version of this module/python are you running?
- what exactly are you executing and what exactly is happening?

[2022-05-13 00:19] jbrek commented on #153
youtube-transcript-api 0.4.4
It working today.  No clue what happened or changed but it works today!

[2022-05-13 07:25] #153 closed

[2022-05-29 02:42] crhowell commented on #106
@ozancaglayan

Before I took an extended break, I was looking at this overlapping time issue as I noticed it too while I was trying to write up the basic WebVTT formatter.

From my understanding, the `start` time is when the transcript text is meant to show on-screen and the `duration` isnt necessarily the amount of time spent saying a given set of words. It actually seems to be the duration of ti

[2022-06-11 01:51] BillionShields opened #155 "close caption vs transcript?"
Interesting case. Video is fresh so transcript is not yet available but closed captions CC are. Is there a way to get those?

[2022-06-13 09:27] jdepoix commented on #155
Hi @BillionShields,
just to clarify: you mean that you can already enable subtitles on the YouTube's web player but when querying the transcript with this module you get an error?
It seems rather unlikely, as this module uses the same API endpoints the web player does, but maybe the request done by your `youtube-transcript-api` code was answered by a different node than the request done by your br

[2022-06-13 09:31] jdepoix commented on #110
@crhowell sounds interesting. I will have to look into this when I got a bit more time to spare. Just to clarify: what do you mean by `INNERTUBE_API_KEY`?

[2022-06-13 11:05] crhowell commented on #110
@jdepoix The HTML returned back to the `_extract_captions_json` method. If you were to inspect it you should find each of those KEYS ( _INNERTUBE_API_KEY_, _INNERTUBE_CLIENT_NAME_, etc.)  buried within script tags.

[2022-07-05 06:21] timy-16 opened #157 "Tips on avoiding blockage from YouTube"
Hello!

I was wondering if there are any tips that you can give me to avoid getting blocked from YouTube servers by sending a lot requests. I know that using proxies and sleep function would be of some help. But maybe there are some other methods that I'm not aware of.

And can you please answer to these questions:

1) For many videos I can realistically get transcripts in a day? What is the maxim

[2022-08-06 12:59] Botami143 opened #158 "how to use"
Hello @jdepoix

how to use this tool please give me Idea

[2022-08-06 13:19] jdepoix commented on #158
Hello @Botami143

please read the [README](https://github.com/jdepoix/youtube-transcript-api#readme) to find out how to use this module.

[2022-08-06 13:19] #158 closed

[2022-08-06 14:12] Botami143 commented on #158
no working
![Screenshot 2022-08-06 194021](https://user-images.githubusercontent.com/77289273/183252520-9cf816ca-7ee0-4423-b2d5-73e7165e08d5.png)

[2022-08-06 14:20] jdepoix commented on #158
Just read the error message, it already explains why it is not working: the subtitles for this video are disabled, therefore, this module can't retrieve them.

[2022-08-21 08:10] chirag127 opened #159 "youtube_transcript_api._errors.NoTranscriptFound"
https://www.youtube.com/watch?v=0pdV6icQt8M have the subtitle for "en" but still getting For this video (0pdV6icQt8M) transcripts are available in the following languages:

(MANUALLY CREATED)
 - en ("English")[TRANSLATABLE]

[2022-08-21 11:05] jdepoix commented on #159
Hi @chirag127, could you maybe elaborate a bit more on what the problem is here, I am not sure if I am understanding you correctly. To me, it sounds like you want to get the English transcript, and as your log shows it actually is available. So what is missing?

[2022-08-21 12:20] #159 closed

[2022-08-21 12:20] chirag127 commented on #159
Resolved

[2022-09-01 03:00] zxl777 opened #160 "vtt format error: second must be in 0..59"
vtt format error:
second must be in 0..59

<img width="365" alt="image" src="https://user-images.githubusercontent.com/816448/187822750-474190c3-ab86-4644-b8ac-f53b4559d49b.png">

source
https://www.youtube.com/watch?v=Jkdnn6klg7w

[2022-09-23 14:29] lionderful opened #162 "the right timestamp formation is '00:00:06,930' not '00:00:06.930'"
"," in srt timestamp format, not "."

_seconds_to_timestamp should return "{:02.0f}:{:02.0f}:{:02.0f},{:03d}".format(hours, mins, secs, ms)

thank you, man. you have done a great help for me,

[2022-09-24 21:12] titusfx opened #163 "Transcriptions of shorts videos are outsync"
I'm being using a script for getting transcript working 100% until today, that I tried to download a short. The time was quite off.

https://www.youtube.com/watch?v=uCbpDW0p0Gs

Thanks

[2022-09-26 11:37] jdepoix commented on #163
Hi @titusfx,
could you please clarify what exactly is not working for you? I can't find anything wrong with the video you posted using the current version of `youtube-transcript-api`.

[2022-10-07 06:03] i-m-karanagarwal commented on #111
Hy, I would like to work on this issue. Is this still open?

[2022-10-07 07:51] jdepoix commented on #111
Hi @i-m-karanagarwal,
while this issue is still open and contributions are very much welcome, maybe have a look at #110 before getting started. @xenova and @crhowell have already done some digging which indicated that it might be possible to retrieve age-restricted videos without using cookies. So working on that might be the best use of your time! 😊

[2022-10-07 08:06] jdepoix commented on #155
closed due to inactivity

[2022-10-07 08:06] #155 closed

[2022-10-07 08:07] jdepoix commented on #160
Hi @zxl777, thanks for reporting!

[2022-10-07 08:10] jdepoix commented on #162
Hi @lionderful, we currently only have a WebVTT formatter, for which this format is correct. But as I see you already contributed a SRT formatter 🥳

[2022-10-07 08:10] #162 closed

[2022-10-07 08:14] jdepoix commented on #117
I will close this issue now, as there isn't really much we can do here and the discussion went off rails a bit.

[2022-10-07 08:14] #117 closed

[2022-10-07 08:15] jdepoix commented on #163
Any news on this @titusfx? Otherwise I will close this issue.

[2022-10-07 12:27] #125 closed

[2022-10-08 21:22] rohitsanam opened #165 "Generating transcripts using YouTube-transcript-api"
I am having video id's for multiple videos of a playlist when I am trying to extract th transcript I am getting the following error:

TranscriptsDisabled:
Could not retrieve a transcript for the video https://www.youtube.com/watch?v=b! This is most likely caused by:

Subtitles are disabled for this video

If you are sure that the described cause is not responsible for this error and that a transcr

[2022-10-10 08:12] #163 closed

[2022-10-10 08:13] jdepoix commented on #165
Hello @rohitsanam, please supply the code you are executing. My guess is, that you are using `get_transcripts` instead of `get_transcript`. When using `get_transcripts` you need to pass in a list of strings and when using `get_transcript` you must pass in a string.

[2022-10-11 07:53] soumyasj commented on #147
Greetings,
You can close the issue. Thank you.

*Regards,Soumya Shamarao JahagirdarMasters' by Research (MS), CVIT, IIIT
Hyderabad*

On Wed, Mar 30, 2022 at 6:58 PM jdepoix ***@***.***> wrote:

[2022-10-12 09:00] titusfx commented on #163
Hi @jdepoix the same link is https://www.youtube.com/shorts/uCbpDW0p0Gs as you can see the format is different, and in order to work I need to manually do:

1. Convert this format to the other (from https://www.youtube.com/shorts/uCbpDW0p0Gs to https://www.youtube.com/watch?v=uCbpDW0p0Gs)
2. Watch a part of the video (open the link, only it won't work)
3. And then the video transcriptions/translat

[2022-10-18 14:14] jdepoix commented on #163
Hi @titusfx,
I have no experience with getting transcripts for shorts and since shorts aren't really supported by this module yet, this sounds more like a feature request than a bug. What you are describing seems to indicate that YouTube generates the transcript lazily only after the video has been opened using a `https://www.youtube.com/watch....` url. In that case there is no way for this module

[2022-10-24 09:58] jdepoix commented on #165
closed due to inactivity

[2022-10-24 09:58] #165 closed

[2022-10-25 04:58] XuChangXiang opened #166 "Please"

[2022-10-25 12:18] #166 closed

[2022-10-26 10:16] jdepoix commented on #160
Fixed in [v0.5.0](https://github.com/jdepoix/youtube-transcript-api/releases/tag/v0.5.0) thanks to @liamrs222!

[2022-10-26 10:16] #160 closed

[2022-10-29 19:08] afparsons opened #167 "Do API requests work over HTTP?"
As you've noted, some users have reported that their IP gets blocked after making some number of requests to the API.

I plan to experiment with AWS Lambda functions as a round-robin proxy pool.

I quickly pieced together an HTTP forward proxy in Rust. It seems to work for HTTP requests (I've only run it locally so far), but HTTPS doesn't work without me generating a certificate.

Do you know if t

[2022-10-31 02:31] dylanschweitzer opened #168 "Traceback errors and proxy issues"
# To Reproduce
Steps to reproduce the behavior:

### Which Python version are you using?
3.8
### Which version of youtube-transcript-api are you using?
0.5
### What code / cli command are you executing?

from youtube_transcript_api import YouTubeTranscriptApi

YouTubeTranscriptApi.get_transcript('puTiLuCw8lI')

# Expected behavior
Retrieve the transcript

# Actual behaviour
I get a bunch of errors

[2022-10-31 12:36] jdepoix commented on #168
Hi @dylanschweitzer,
I can not reproduce this for the video `uCbpDW0p0Gs`. Does this happen only for this video, or all videos you are trying to get a transcript for? Did this happen after bombarding YouTube with a lot of requests? (you might get temporarly blocked when doing to many requests...)

[2022-10-31 13:27] jdepoix commented on #167
Hi @afparsons,
[There's a section in the README describing how to use proxies](https://github.com/jdepoix/youtube-transcript-api#proxy). There you can pass in proxy settings which are passed through to the requests module. Therefore, you can [check out the requests proxy documentation](https://requests.readthedocs.io/en/latest/user/advanced/#proxies) if you want to find out more about what to pass

[2022-10-31 18:24] dylanschweitzer commented on #168
You're right, I tried it on another IP and it worked. Looks like it wasn't working from the host I used.

[2022-10-31 18:26] #168 closed

[2022-11-13 09:12] Nachthirsch opened #169 "I've got error that said"
I only write simple code like this
`def transcript_video():
    url = input("Enter the URL: ")
    transcript = YouTubeTranscriptApi.get_transcript(url, languages=['en'])`

but i got an error like this:

**Could not retrieve a transcript for the video https://www.youtube.com/watch?v=https://youtu.be/n8s9DjPDBEw! This is most likely caused by:

Subtitles are disabled for this video**

when I check

[2022-11-14 20:20] hatemrizk opened #170 "Error downloading caption for video"
# To Reproduce
Steps to reproduce the behavior:
normal api call to download captions for https://www.youtube.com/watch?v=bo9hXBdTfzQ
### Which Python version are you using?
3.7.15
### Which version of youtube-transcript-api are you using?
0.5.0
### What code / cli command are you executing?

video_link = 'https://www.youtube.com/watch?v=bo9hXBdTfzQ'

#Extract video id
video_id = video_link.split('

[2022-11-14 20:34] jdepoix commented on #170
Hi @hatemrizk,
are you sure you are able to see the transcripts when opening https://www.youtube.com/watch?v=bo9hXBdTfzQ ?
When I open it shows me that transcripts are disabled, which is in line with the error message.

[2022-11-14 20:35] jdepoix commented on #167
@afparsons did this help? Can I close this issue?

[2022-11-14 21:11] hatemrizk commented on #170
You are correct. It was enabled when I tried it and displayed captions but when I try it now I see it is disabled. Looks like it is working as it should.

[2022-11-14 21:11] #170 closed

[2022-11-20 07:51] VaishnaviGaikar opened #172 "I am using youtube_transcript_api and I put youtube video with captions still it showing Subtitles are disabled for this video"
# To Reproduce
Steps to reproduce the behavior:

### Which Python version are you using?

### Which version of youtube-transcript-api are you using?

### What code / cli command are you executing?

# Expected behavior
Describe what you expected to happen.

# Actual behaviour
Describe what is happening instead of the **Expected behavior**. Add error messages if there are any.

[2022-11-20 19:05] #172 closed

[2022-11-24 11:34] swap1010 opened #173 "Incomplete Transcript"
When trying to get the Korean transcript and translate it to English for
https://www.youtube.com/watch?v=QrzApibhohY
Few lines from the end are missing.

[2022-11-24 11:45] jdepoix commented on #173
Hi @swap1010,
please add the following information:
- what are you executing
- what is the result
- what is the expected result

[2022-11-25 12:30] swap1010 commented on #173
Executing: transcript_list = YouTubeTranscriptApi.list_transcripts("QrzApibhohY")
transcript_list.find_transcript(["ko]).translate("en").fetch()
Result: [{'text': 'Gradient checking helped me a lot in saving time and\nfinding bugs in the implementation of backpropagation.', 'start': 0.0, 'duration': 6.46}, {'text': "\nLet's see how it can be done.", 'start': 6.46, 'duration': 8.46}, {'text': '\n',

[2022-11-25 15:41] jdepoix commented on #173
Why do you think that last line is missing? If I have a look at the Korean transcript the last line is
`다음 비디오에서는 실제로 경사 검사를\n구현하는 방법에 대한 팁을 공유드리겠습니다`
I do not speak Korean but if I insert this into Google translate it outputs
`In the next video, I'll share some tips on how to implement a gradient check\nin practice.`
Which also is the last sentence of the transcript you posted.

This might not be

[2022-11-25 15:41] #173 closed

[2022-11-25 16:12] swap1010 commented on #173
@jdepoix in the transcript i only get "\n. I will share". You saw expected result. Please check the result which i got

[2022-11-28 10:28] jdepoix commented on #167
Closed due to inactivity

[2022-11-28 10:28] #167 closed

[2022-11-28 10:51] jdepoix commented on #173
@swap1010 Oh, I am sorry, you are right! I didn't check the output carefully enough! 🙈
However, I just checked what is returned by YouTube's API and this is the exact output I am getting. So it seems that this is an error on YouTube's end. So there is unfortunately not much we can do about this.

Nonetheless, thank you for reporting! 😊

[2022-11-28 14:35] eddieoz opened #174 "Error 'Subtitles are disabled for this video' on youtube_transcript_api cli"
# To Reproduce
Execute cli
$ youtube_transcript_api https://www.youtube.com/watch?v=--t7xdzBiQ4

### Which Python version are you using?
python 3.10.6, 3.9.0 and 3.8.8

### Which version of youtube-transcript-api are you using?
0.5.0

### What code / cli command are you executing?
$ youtube_transcript_api https://www.youtube.com/watch?v=--t7xdzBiQ4

# Expected behavior
Show transcript

# Actual be

[2022-11-28 16:14] jdepoix commented on #174
Hi @eddieoz,
your CLI command is failing because you have to provide the ID of the video, not the URL. Also, your video's ID starts with `-` so you'll have to escape that. Additionally, the video doesn't have an English transcript (which is the default if no language is provided), therefore, you'll have to provide the language you want to get the transcript for. Try this:
```youtube_transcript_api

[2022-11-28 16:14] #174 closed

[2022-11-29 20:43] eddieoz commented on #174
Thanks for your reply.

I will review it and run the bot under tor or another VPN to update my channel's transcripts db. Unfortunately seems Youtube listed my 3 IPs.

Best regards,

[2022-11-29 23:12] afparsons commented on #167
Ah, sorry. This was part of a low-priority experimental side project and I never experimented further. I am aware of the proxy usage; my question was whether you knew if the API worked with **HTTP* (not HTTPS) proxies.

But please keep this issue closed; if I continue with this and have additional questions, then I will open a new issue or discussion thread :slightly_smiling_face:

Vielen Dank!

[2022-11-30 09:12] jdepoix commented on #167
Hi @afparsons, I know that people have used HTTP (over HTTPS) proxies in the past. YouTube might have started enforcing traffic to be HTTPS at some point. Please report back your findings if you ever get to play around with it more 😊